<p>Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

<h2>Heading but it's not the main title</h2>
<p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

<p>A House subcommittee on Wednesday backed a bill aimed at speeding up the federal approval process for the proposed Keystone XL Pipeline, which would connect tar sands deposits in Alberta, Canada, to oil refineries on the Texas Gulf Coast.</p>

<p>The House Energy and Commerce Energy and Power Subcommittee approved by voice vote HR 1938, which would set deadlines for the president to issue a final ruling on the permit application for the proposal. The bill, introduced by Rep. Lee Terry, R-Neb., would require a final order within 30 days after an environmental impact statement was issued and no later than Nov. 1, 2011.</p>
        
<p>Debate broke along party lines.</p>
        
<p>The panel <a href="#">rejected by voice vote</a> an amendment by Bobby L. Rush (D-Ill.) to remove a provision stating that the EPA models indicate that the pipeline would not significantly change levels of greenhouse gas emissions — a statement that Democrats refuted.</p>
        
<p>The panel also turned back by voice vote a Rush amendment that would push back the deadline for a permit decision to 120 days after an environmental impact statement, with the final deadline at Jan. 1, 2012.</p>