<article>
    {{ fields.timestamp.content }}
    <div class="content">
        <div><strong>{{ fields.title.content }}</strong></div>
        {{ fields.field_note.content }}
    </div>
    <footer>
        <em class="submitted">—{{ 'Submitted by '|t }}{{ fields.name_1.content }}{{ ' on '|t }}{{ fields.created.content }}</em>
    </footer>
    <ul class="links inline">
        <li class="comment-delete">{{ fields.delete_comment.content }}</li>
        <li class="comment-edit">{{ fields.edit_comment.content }}</li>
    </ul>  
</article>
