{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% apply spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('flag/flag.link') }}

{# Depending on the flag action, set the appropriate action class. #}
{% if action == 'unflag' %}
    {% set action_class = 'action-unflag' %}
{% else %}
    {% set action_class = 'action-flag' %}
{% endif %}

{# Set the remaining Flag CSS classes. #}
{%
  set classes = [
    'flag-' ~ flag.id()|clean_class,
    'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
    action_class,
    'link--with-icon'
  ]
%}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow').setAttribute('title', 'Add/remove bookmark') %}

<div class="{{classes|join(' ')}}">
  <a{{ attributes.addClass('flag-link', 'flag-link--save') }}">
      <svg id="icon--bookmark" class="link--with-icon__icon" aria-hidden="true" focusable="false" title="{{ title }}">
          <use xlink:href="#icon-bookmark"></use>
      </svg>
      <span class="link--with-icon__text">{{ title }}</span>
  </a>
</div>
{% endapply %}