{% if not logged_in %}
  {% embed "@policycenter/page--story--anonymous.html.twig" %}
    {% block title %}
      <h1 class="page-title">
        <span class="visually-hidden">{{ 'The View from Briefing Center'|t }}</span>
      </h1>
    {% endblock %}
  {% endembed %}
{% else %}
  {% include "@policycenter/page.html.twig" %}
{% endif %}