<div id="page-wrapper">
  <div id="page">
    {% include directory ~ '/templates/includes/header.html.twig' %}
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="layout-container section clearfix" title="Status messages" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
    <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
      <div id="main" class="layout-main clearfix">
        {{ page.breadcrumbs }}
          <main id="content" class="column main-content" role="main">
            <div class="container gutter">
              {% if page.topic_bar %}
                {{ page.topic_bar }}
              {% endif %}

              {% if page.content_header %}
                {{ page.content_header }}
              {% endif %}
              <div class="no-margin">
                {{ page.page_title }}
                <div id="pre-sidebar" class="pre-sidebar">{{ page.pre_sidebar }}</div>
                <div id="main-blocks">{{ page.content }}</div>
                <div id="sidebar-blocks">{{ page.sidebar_first }}</div>
              </div>
            </div>
          </main>
      </div>
    </div>
    {% include directory ~ '/templates/includes/footer.html.twig' %}
  </div>
</div>