<div id="page-wrapper">
  <div id="page" class="page--marketing">
    <div class="splash-page">
        <div class="splash__content splash__content--static">
            <div class="splash__header">
              <div class="splash__logo">
                <a href="/"><img src="/themes/policycenter/images/logo--know-more.svg" alt="Briefing Center"/></a>
              </div>
              {{ page.topic_bar }}
            </div>
            {{ page.content_header }}
            <div class="splash__main-content">
              <div class="splash__main-text">
                {{ page.page_title }}
                {{ page.content }}
              </div>
            </div>
        </div>
    </div>
  </div>
</div>