<div id="page-wrapper">
  <div id="page">
    {% include directory ~ '/templates/includes/header.html.twig' %}
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="layout-container section clearfix" title="Status messages" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
    <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
      <div id="main" class="layout-main clearfix">
        {{ page.breadcrumbs }}
          <main id="content" class="column main-content" role="main">
            <div class="container gutter">
              {% if page.topic_bar %}
                {{ page.topic_bar }}
              {% endif %}
              
              {% if page.content_header %}
                {{ page.content_header }}
              {% endif %}
              <div class="content-wrapper no-margin">
                <div class="page-content">
                  <section class="section">                    
                    <div class="no-margin">
                      {{ page.page_title }}
                      <div id="main-blocks">{{ page.content }}</div>
                    </div>
                  </section>
                </div>
                <div id="sidebar-first" class="column sidebar">
                  <div class="section">
                    <div id="sidebar-blocks">{{ page.sidebar_contexture }}</div>
                  </div>
                </div>
              </div>
            </div>
          </main>
      </div>
    </div>
    {% include directory ~ '/templates/includes/footer.html.twig' %}
  </div>
</div>