{% if not logged_in %}
  {% embed "@policycenter/page--story--anonymous.html.twig" %}
    {% block title %}
      <h1 class="page-title">
        <span class="visually-hidden">{{ 'Notes from Briefing Center'|t }}</span>
        <div class="image-heading__wrapper">
          <img src="/themes/policycenter/images/heading--notes-from.svg" alt="Notes from Briefing Center" />
        </div>
      </h1>
    {% endblock %}
  {% endembed %}
{% else %}
  {% include "@policycenter/page.html.twig" %}
{% endif %}