{# {% if nid %}
  {% set headingImage = drupal_field('field_heading_image', 'node', nid) %}
{% endif %} #}

{{ title_prefix }}
{% if title %}
  {# {% if headingImage|render %}
    <h1 {{ title_attributes.addClass('page-title') }}>
        <span class="visually-hidden">{{ title }}</span>
        <div class="image-heading__wrapper">{{ headingImage }}</div>
    </h1>
  {% else %} #}
    <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
  {# {% endif %} #}
{% endif %}
{{ title_suffix }}
