<div id="page-wrapper">
	<div id="page">
		{% if logged_in %}
			{% include directory ~ '/templates/includes/header.html.twig' %}
			<div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
				<div id="main" class="layout-main clearfix">
					<main id="content" class="column main-content" role="main">
						<div class="container gutter">
							{% if page.topic_bar %}
								{{ page.topic_bar }}
							{% endif %}

							{% if page.content_header %}
								{{ page.content_header }}
							{% endif %}

							<div class="content-wrapper no-margin">
								<div class="page-content">
									<section class="section">
										<div id="main-blocks">
											<header>
												<h2>The latest: {{ subject_preferences }}</h2>
											</header>
											<div id="topic-tabs">
												<ul class="topic-tabs__group">
													<li class="topic-tab">
														<a href="#topics__heading--top" id="tab-top">{{ 'Top stories'|t }}</a>
													</li>
													<li class="topic-tab">
														<a href="#topics__heading--news" id="tab-news">{{ 'News'|t }}</a>
													</li>
													{% if subject_preferences is not same as('press and media') %}
														<li class="topic-tab">
															<a href="#topics__heading--legislation" id="tab-legislation">{{ 'Legislation'|t }}</a>
														</li>
														<li class="topic-tab">
															<a href="#topics__heading--regulations" id="tab-regulations">{{ 'Regulations'|t }}</a>
														</li>
													{% endif %}
													<li class="topic-tab">
														<a href="#topics__heading--all" id="tab-all">{{ 'All'|t }}</a>
													</li>
												</ul>
												<div class="tabPanel">
													<h2 class="topic-panel__heading visually-hidden topic-panel__heading--top">{{ 'Top stories'|t }}</h2>
													<div id="topic-search">{{ drupal_block('views_block:homepage-news_top') }}</div>
												</div>
												<div class="tabPanel">
													<h2 class="topic-panel__heading visually-hidden topic-panel__heading--news">{{ 'News'|t }}</h2>
													<div id="topic-search">{{ drupal_block('views_block:homepage-news_news') }}</div>
												</div>
												{% if subject_preferences is not same as('press and media') %}
													<div class="tabPanel">
														<h2 class="topic-panel__heading visually-hidden topic-panel__heading--legislation">{{ 'Legislation'|t }}</h2>
														<div id="topic-search">{{ drupal_block('views_block:homepage-news_legislation') }}</div>
													</div>
													<div class="tabPanel">
														<h2 class="topic-panel__heading visually-hidden topic-panel__heading--regulations">{{ 'Regulations'|t }}</h2>
														<div id="topic-search">{{ drupal_block('views_block:homepage-news_regulations') }}</div>
													</div>
												{% endif %}
												<div class="tabPanel">
													<h2 class="topic-panel__heading visually-hidden topic-panel__heading--all">{{ 'All'|t }}</h2>
													<div id="topic-search">{{ drupal_block('views_block:homepage-news_all') }}</div>
												</div>

											</div>
											{{ page.home_content }}
										</div>
									</section>
								</div>

								{% if page.sidebar_first %}
									<div id="sidebar-first" class="column sidebar">
										<div class="section">
											<div id="sidebar-blocks">{{ page.sidebar_first }}</div>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</main>
				</div>
			</div>
			{% include directory ~ '/templates/includes/footer.html.twig' %}
		{% else %}
			<div class="splash-page">
				<div class="splash__content splash__content--static">
					<div class="splash__header">
						<div class="splash__logo">
							<a href="/"><img src="/themes/policycenter/images/logo--know-more.svg" alt="Briefing Center"/></a>
						</div>
						<nav role="navigation" aria-labelledby="block-marketingpages-menu" id="block-marketingpages" class="block block-menu navigation menu--marketing-pages">
							<h2 class="visually-hidden" id="block-marketingpages-menu">{{ 'Marketing pages'|t }}</h2>
							{{ drupal_menu('marketing-pages') }}
						</nav>
					</div>
					<div class="splash__main-content">
						<div class="splash__main-text">
							<h1 class="page-title">{{ 'Your personal newsroom'|t }}</h1>
							{{ drupal_field('field_body_content', 'node', 32) }}
							{# <h1>
								<div class="image-heading__wrapper">
									<span class="visually-hidden">{{ 'Know more'|t }}</span>
									<img src="/themes/policycenter/images/heading--know-more.svg" alt="" aria-hidden="true"/>
								</div>
							</h1>
							<p>{{ 'All of us are awash in news and information.'|t }}</p>
							<p>{{ 'But we’re not getting any more time.'|t }}</p>
							<p>{{ 'Enter <strong>briefing·center</strong>.'|t }}</p>
							<p>{{ 'News and information on your interests — gathered, organized, distilled ... ready when you want it, the way you need it.'|t }}</p>
							<p>{{ 'For you ... your workgroup ... your community.'|t }}</p>
							<a href="/your-personal-newsroom" class="button">{{ '...your personal newsroom'|t }}</a> #}
						</div>
						<div class="splash__sidebar sidebar">
							<article>
								<h2>{{ 'Press and media'|t }}</h2>
								<div id="topic-tabs">
									<ul class="topic-tabs__group">
										<li class="topic-tab">
											<a href="#topics__heading--briefs" id="tab-briefs">{{ 'View from briefing·center'|t }}</a>
										</li>
										<li class="topic-tab">
											<a href="#topics__heading--top" id="tab-top">{{ 'Top stories'|t }}</a>
										</li>
									</ul>
									<div class="tabPanel">
										<h2 class="topic-panel__heading visually-hidden topic-panel__heading--briefs">{{ 'View from briefing·center'|t }}</h2>
										<div id="topic-search">{{ drupal_block('views_block:homepage-pc_story') }}</div>
									</div>
									<div class="tabPanel">
										<h2 class="topic-panel__heading visually-hidden topic-panel__heading--top">{{ 'Top stories'|t }}</h2>
										<div id="topic-search">{{ drupal_block('views_block:homepage-news_top') }}</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
