{% if items.next %}
<ul{{ attributes.addClass('plain-list text-center region--space-sm') }}>
  <li class="pager__item">
    <a class="button button--light" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ options.button_text }}</a>
  </li>
</ul>
{% endif %}