<a href="#" class="link--with-icon">
    <svg class="link--with-icon__icon">
        <use xlink:href="#icon-bookmark"></use>
    </svg>
    <span class="link--with-icon__text">Save this topic</span>
</a>