figure {
	margin: 0;
}

.blockquote {
	background: $lightblue;
	padding: 30px;
    margin: $vert-space-sm 0;
    border-left: 30px solid $blue;
	@include mq($break-lg) {
		padding: 30px 60px 30px;
		margin: $vert-space-md 0;
	}
}
.blockquote__quote-source {
	font-style: normal;
	font-weight: 600;
	display: inline-block;
	margin: 10px 0;
	&:before {
		content: '– ';
	}
}