@mixin button-base {
  font-family: $font-secondary;
  font-weight: 600;
  line-height: 1;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0;
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 10px 20px;
  display: inline-block;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  transition: $spd-a all ease-in-out;

  &::-moz-focus-inner {
    border: 0;
  }

  @include link-states {
    text-decoration: none;
    transition: $spd-a all ease-in-out;
  }
}

@mixin blue-button-base {
  color: $lightblue;
  background: $blue;
  @include link-states {
    background: darken($blue, 5);
  }
}
@mixin light-button-base {
  color: $blue;
  background: $lightblue;
  @include link-states {
    background: darken($lightblue, 5);
    color: darken($blue, 5);
  }
}

.button {
  @include button-base;
  @include blue-button-base;

  &--icon-only {
    border-radius: 50%;
    padding: 5px;
    line-height: 0;

    .button__icon {
      width: 16px;
      height: 16px;
    }

    .sidebar & {
      display: flex;
      margin-left: auto;
    }
  }
}

.button--light {
  @include button-base;
  @include light-button-base;
}

.button--transparent {
  @include button-base;
  @include light-button-base;
  background: transparent;
}

.button-outline {
  @include button-base;
  border-color: $blue;
  color: $blue;
  background-color: transparent;
  @include link-states {
    background-color: $blue;
    color: $lightblue;
  }
}

.button-plain {
  @include button-base;
  @include light-button-base;
  background: transparent;
  padding: 0;
  @include link-states {
    background-color: transparent;
    text-decoration: underline;
  }  
}

.button--lg {
  padding: 15px 40px;
}

.plus-button__wrapper {
  display: flex;
}

.button-group {
  display: flex;
  margin: 10px 0;
  gap: 5px;
}