.callout {
    background-color: $medlightgray;
    padding: 20px;
    margin: 30px 0;
    &__heading {
        @extend .topic__heading;
    }
    &__text {
        line-height: $text-lh-sm;
        margin: 15px 0;
    }
}