.expert {
    background: $lightgray;
    padding: 20px 20px 20px 10px;
    display: inline-flex;
    // max-width: 350px;
}

.expert__content {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: $text-lh-sm;
}
.expert__heading {
    text-transform: uppercase;
}
.expert__name {
    font-weight: 600;
}

.expert__picture {
    margin-right: 15px;
    line-height: 0;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}