.flag {
  display: flex;
  width: 100%;

  &-link {
    @include link-states {
      text-decoration: none;
    }
  }
}

.flag_media {
  flex: 0 0 auto;
}

.flag_body {
  @include child-margin-clear;
  padding-left: 15px;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
}

.flag--center {
  .flag_body {
    align-self: center;
  }
}

.flag-save {
  &.action-flag {
    cursor: pointer;
    #icon--bookmark {
      color: #fff;
    }
  }
  &.action-unflag {
    #icon--bookmark {
      color: $blue;
    }
  }
}
.flag-unsave {
  &.action-flag {
    cursor: pointer;
  }
}

.flag-topic-bar {
  &.action-flag {
    cursor: pointer;
    // #icon--plus {
    //   color: #fff;
    // }
  }
  &.action-unflag {
    #icon--plus {
      color: $blue;
      transform: rotate(45deg);
    }
  }
}
.flag-topic-bar {
  &.action-flag {
    cursor: pointer;
  }
}