.loader {
    text-align: center;
}
.loader__image {
    width: 250px;
    margin: 0 auto;
}
.loader__text {
    color: $blue;
    font-weight: 600;
    a {
        text-decoration: underline;
    }
}