.pager {
    margin: 20px 0;
}

.pager__items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pager__item {
    display: inline-block;
    a {
        background-color: $blue;
        color: #fff;
        padding: 6px 10px;
    }
    &--active {
        a {
            background-color: $lightblue;
            color: $darkblue;
        }
    }
}