.story {
    display: flex;
    flex-direction: column;
    margin-bottom: $vert-space-sm;

    &--full {
        .role--anonymous & {
            .page-title > a {
                font-family: $font-main;
            }
        }
    }
}

.story__heading {
    font-family: $font-secondary;
    font-size: $ts--title;
    font-weight: 600;
    order: 2;
    line-height: 1;
    margin-bottom: 10px; // half of normal
    & > a {
        color: $text-color;
    }
    // .story--full & {
    //     font-weight: bold;
    // }

    .view & {
        order: initial;
    }
}
.story__category {
    order: 1;
    font-weight: 600;
    color: $blue;
    line-height: $text-lh-sm;
    font-size: 1.4rem;
}
.story__content {
    order: 3;
    & > p:first-of-type {
        margin-top: 0;
    }
}
.story__sub-category {
    order: 3;
    margin-top: -10px;
    // margin-bottom: 10px;
    color: lighten($darkgray, 17);
    font-size: 1.4rem;
    vertical-align: middle;

    strong {
        vertical-align: middle;
    }
}