.teaser {
    background: $lightgray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: $vert-space-sm;
}
.teaser__heading {
    color: $text-color;
    font-family: $font-main;
    font-weight: 600;
    font-size: $ts-h3;
    margin: 0;
    order: 2;
    a {
        color: $text-color;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.teaser__type {
    color: $blue;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
}
.teaser__details {
    order: 3;
    line-height: $text-lh-sm;
    margin-bottom: 0;
}