.toggle-wrapper {
  position: relative;
  overflow: hidden;
}

.toggle-label {
  position: relative;
  text-transform: uppercase;
  border: none;
  padding: 12px 24px 12px 0;
  cursor: pointer;
  color: $darkblue;
  transition: $spd-a all ease-in-out;
  margin: 3px; // so focus outline is visible on all edges
  background: transparent;
  &:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 20px;
    border: 5px solid transparent;
    border-top-color: $blue;
    transition: $spd-a all ease-in-out;
  }
  &.open {
    &:after {
      top: 14px;
      border-top-color: transparent;
      border-bottom-color: $blue;
    }
  }
  @include link-states {
    color: $darkblue;
    transition: $spd-a all ease-in-out;
    &:after {
      border-top-color: $darkblue;
      transition: $spd-a all ease-in-out;
    }
    &.open {
      &:after {
        border-top-color: transparent;
        border-bottom-color: $darkblue;
      }
    }
  }
}

.toggle-hidden {
  display: block;
  visibility: hidden;
  position: absolute;
  &.open {
    visibility: visible;
    position: static;
  }
}

// 2021 toggle
.toggle-button {
  &.button--icon-only {
    &.open {
      transform: rotate(45deg);
    }
  }
}

.toggle-contents {
  display: none;

  &.open {
    display: inherit;
  }
}