// .topics-list__grid {
//     display: grid;
//     grid-template-columns: 1fr calc(#{$max-width} - calc(#{$gutter-sm} * 2)) 1fr;
//     overflow-x: hidden;
// }

.topics-list {
    overflow-x: scroll;
    grid-column: 2 / 4;
    padding: 10px 3px;
    margin: 10px 0;
    list-style-type: none;
    max-width: calc(100vw - 50px); // not totally sure why 50 works

    display: flex;

    &::-webkit-scrollbar {
        background-color: transparent;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darken($medlightgray, 5);
        border-radius: 12px;
    }

    @include mq($break-lg) {
        margin: $vert-space-md 0;
    }

    @supports (display: grid) {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        gap: calc(#{$gutter-sm} / 1.5);
    }
}

.topic {
    background-color: $medlightgray;
    padding: 10px;
    width: 225px;
    position: relative;
    margin: 0;
    transition: $spd-a all ease-in-out;
    @include link-states {
        background-color: darken($medlightgray, 5);
        transition: $spd-a all ease-in-out;
    }

    & + .topic {
        margin-left: 20px;
        @supports (display: grid) {
            margin-left: 0;
        }
    }

    &--emphasized {
        background-color: $tan;
        @include link-states {
            background-color: darken($tan, 5);
        }
    }

    &__flag {
        flex: 1 0 100%;
        position: relative;
    }

    &__flags {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }
}
.topic--empty {
    background-color: $lightgray;
    .topic__icon {
        color: darken($lightgray, 10);
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    @include link-states {
        .topic__icon {
            color: darken($medlightgray, 15);
        }
    }
}
.topic--lg {
    padding: 20px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .topic__heading {
        order: 2;

        a {
            color: $blue;
        }
    }
    .topic__label {
        order: 1;
        text-transform: uppercase;
    }
    .topic__details {
        position: relative;
    }
    & + .topic--lg {
        margin-bottom: $vert-space-md;
    }

    a {
        text-decoration: none;

        @include link-states {
            text-decoration: underline;
            &.button-outline {
                text-decoration: none;
            }
        }
    }
}

.topic--teaser {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: calc(80vw - 30px); // make sure a second topic teaser peeks through at mobile
    box-shadow: 0 2px 8px -2px rgba(0,0,0,0.5);
    padding-bottom: 10px;

    .link--with-icon:not(.action-flag):not(.action-unflag) {
        order: 4;
        margin: 0 0 0 auto;
        position: relative;

        svg {
            width: 24px;
            height: 24px;
            opacity: 0.5;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 25px;
        }
    }

    .action-flag,
    .action-unflag {
        .link--with-icon__icon {
            display: none;
        }
    }

    .share-contents {
        font-size: 14px;

        &.open {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    // Our News Picks count
    .views-element-container {
        flex: 1 0 100%;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.2;
        opacity: 0.8;
        pointer-events: none;
    }
}

.topic__heading {
    color: $text-color;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    a {
        color: $text-color;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
    .topic--teaser & {
        flex: 0 0 calc(2em + 10px);
    }
}

.topic__label {
    color: $blue;
    font-weight: 600;
    line-height: 1;
}

.topic__details {
    margin-top: 0;
    order: 3;
    p:first-of-type {
        margin-top: 0;
    }
}

.topic__state-of-play {
    margin: $vert-space-sm 0;
    .topic--lg & {
        margin-top: 0;
    }
    .teaser & {
        margin: 0;
    }
    p:first-of-type {
        display: inline;
    }
}

// tabs
.tabPanel {
    padding: 15px 0;
}

.topic-tabs__group {
    display: inline-flex;
    line-height: 1;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    .splash__sidebar & {
        text-transform: lowercase;
    }
}

[id="topic-tabs"] {
    .role--anonymous & {
        padding-top: 20px;
    }
}

.topic-tab {
    a {
        text-decoration: none;
    }
    &.current {
        font-weight: 600;

        button {
            font-weight: 600;
        }
    }

    &:not(:first-of-type) {
        border-left: 1px solid;
        padding-left: 10px;
    }

    &:last-of-type {
        &:after {
            content: none;
        }
    }

    button {
        border: none;
        background-color: transparent;
        color: $blue;
        padding: 0;

        @include link-states {
            text-decoration: underline;
        }
    }
}

.topic-panel__heading {
    margin-top: 0;
    &:focus {
        outline: none;
        text-decoration: underline;
    }
}