<div class="topic topic--empty">
    <h2 class="topic__heading"><a href="#">Federal budget</a></h2>
    <div class="topic__details">
        <svg class="topic__icon">
            <use xlink:href="#icon-eye--slashed"></use>
        </svg>
        <span>No new content</span>
    </div>
</div>