<div class="expert">
    <div class="expert__content">
        <strong class="expert__heading">{{ 'Expert Curator:'|t }}</strong>
        <a href="{{ path('entity.user.canonical', {'user': user.id}, {}) }}" class="expert__name">{{ content.field_first_name|render|striptags }} {{ content.field_last_name|render|striptags }}</a>
        <div class="expert__job-title">{{ content.field_job_title|render|striptags|trim }}, {{ content.field_company|render|striptags }}</div>
    </div>
    {% if user.user_picture is not empty %}
        <div class="expert__picture">
            {{ content.user_picture }}
        </div>
    {% endif %}
</div>