{% if paragraph.field_date is not empty and paragraph.field_description is not empty %}
    <div class="timeline-item">
        {% if paragraph.field_date is not empty %}<strong>{{ content.field_date }}</strong>{% endif %}
        {% if paragraph.field_description is not empty %}<span>{{ content.field_description }}</span>{% endif %}
    </div>
{% endif %}