<div class="media-block media-block--full video--captioned">
	<div class="media-block__media">
		<div class="media-block__video-frame">
			<div class="media-block__video-player">
				{{ content.field_video_link }}
			</div>
		</div>
	</div>
	{% if (paragraph.field_caption is not empty) or (paragraph.field_transcript is not empty) %}
		<div class="boxed-content">
			<div class="boxed-text">{{ content.field_caption }}</div>
			{% if paragraph.field_transcript is not empty %}
				<div class="toggle-wrapper">
					<div class="toggle-main">
						<button class="toggle-label">Transcript</button>
						<div class="toggle-hidden">
							{{ content.field_transcript }}
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}
</div>