<figure>
	<blockquote class="blockquote">
		<div class="blockquote__quote">{{ content.field_quote }}</div>
		<cite class="blockquote__quote-source">{{ content.field_source }}</cite>
	</blockquote>
</figure>