<figure class="image--captioned">
	<img src="{{ content.field_image }}" alt="{{ paragraph.field_image.alt }}" />
	{% if paragraph.field_caption is not empty %}
		<figcaption>{{ content.field_caption }}</figcaption>
	{% endif %}
</figure>