<div class="grid grid-3col grid-gutter region--space-sm content-with-image content-with-image--quote">

	{% if paragraph.field_media_alignment.value == 'right' %}
		<div class="content-with-image__content grid-item grid-item--2col">
			{{ content.field_long_formatted_text }}
		</div>

		<div class="content-with-image__image grid-item">
			{% if paragraph.field_pull_quote is not empty %}
				<div class="side-quote">{{ content.field_pull_quote }}</div>
			{% endif %}
		</div>
	{% elseif paragraph.field_media_alignment.value == 'left' %}	
		<div class="content-with-image__image grid-item">
			{% if paragraph.field_pull_quote is not empty %}
				<div class="side-quote">{{ content.field_pull_quote }}</div>
			{% endif %}
		</div>

		<div class="content-with-image__content grid-item grid-item--2col">
			{{ content.field_long_formatted_text }}
		</div>
	{% endif %}
</div>