<div class="grid grid-3col grid-gutter region--space-sm content-with-image">

	{% if paragraph.field_media_alignment.value == 'right' %}
		<div class="content-with-image__content grid-item grid-item--2col">
			{{ content.field_long_formatted_text }}
		</div>

		<div class="content-with-image__image grid-item">
			<figure class="content-with-image__image {% if paragraph.field_caption is not empty %}image--captioned{% endif %}">
				<img src="{{ content.field_image }}" alt="{{ paragraph.field_image.alt }}" />
				{% if paragraph.field_caption is not empty %}
					<figcaption class="media__caption">{{ content.field_caption }}</figcaption>
				{% endif %}
			</figure>
		</div>
	{% elseif paragraph.field_media_alignment.value == 'left' %}	
		<div class="content-with-image__image grid-item">
			<figure class="content-with-image__image {% if paragraph.field_caption is not empty %}image--captioned{% endif %}">
				<img src="{{ content.field_image }}" alt="{{ paragraph.field_image.alt }}" />
				{% if paragraph.field_caption is not empty %}
					<figcaption class="media__caption">{{ content.field_caption }}</figcaption>
				{% endif %}
			</figure>
		</div>

		<div class="content-with-image__content grid-item grid-item--2col">
			{{ content.field_long_formatted_text }}
		</div>
	{% endif %}
</div>