{% set image, link = content.field_image, content.field_link %}

<div class="postcard-wrapper">
  <div class="postcard{% if link|render|striptags|trim %} postcard--with-link{% endif %}" style="background-image: url('{{ image|render|striptags|raw|trim }}');">
    {% if link|render|striptags|trim %}
      <a href="{{ link|render|striptags|trim }}" class="postcard__link">{{ content.field_long_formatted_text }}</a>
    {% else %}
      <div class="postcard__link">{{ content.field_long_formatted_text }}</div>
    {% endif %}
  </div>
</div>