<div class="topic topic--lg">
    <h2 class="topic__heading">
        <a href="#" tabindex="0">Federal budget</a>
    </h2>
    <span class="topic__label">Topic:</span>
    <div class="topic__details">
        <strong>State of Play</strong>
        <p>The proposal by TransCanada Corp., an Alberta-based energy company, for a pipeline to transport crude oil from Hardisty, Alberta, to U.S. facilities in the Midwest and Gulf Coast, is still under study by the U.S. Department of State. Numerous efforts in Congress to dislodge the proposal have failed.</p>
        <a href="#" class="button-outline">More information</a>
    </div>
</div>