<article{{ attributes }}>
  {#
  Hide the "new" indicator by default, let a piece of JavaScript ask
  the server which comments are new for the user. Rendering the final
  "new" indicator here would break the render cache.
  #}
  <mark class="hidden new" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>
  <div{{ content_attributes.addClass('content') }}>
    {{ content|without('links') }}
  </div>
  <footer>
    <em class="submitted">—{{ submitted }}</em>

    {#
      Indicate the semantic relationship between parent and child comments
      for accessibility. The list is difficult to navigate in a screen
      reader without this information.
    #}
    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}
  </footer>
  {% if content.links %}
    {{ content.links }}
  {% endif %}
</article>
