<div class="check-list-radio">
	<li class="cr_item">
		<input class="cr_input" type="checkbox" name="color" value="green" id="color-green">
		<label class="cr_label" for="color-green">Green</label>
	</li>
	<li class="cr_item">
		<input class="cr_input" type="checkbox" name="color" value="orange" id="color-orange">
		<label class="cr_label" for="color-orange">Orange</label>
	</li>
	<li class="cr_item">
		<input class="cr_input" type="checkbox" name="color" value="purple" id="color-purple">
		<label class="cr_label" for="color-purple">Purple</label>
	</li>
</div>