{% set count = items|length %}
{% set grid_class = '' %}
{% if (count == 2) %}
	{% set grid_class = 'md-flex-grid--1of2' %}
{% elseif (count == '3') %}
    {% set grid_class = 'lg-flex-grid--1of3' %}
{% endif %}

<div class="flex-grid {{ grid_class }}">
	{% for item in items %}
		{{ item.content }}
	{% endfor %}
</div>