{% set count = items|length %}

{% for item in items %}
{% if loop.first %}
{% set prefix = '' %}
{% else %}
    {%- set prefix = ', ' -%}
{% endif %}
{% apply spaceless %}
    {{ prefix|raw }}<em>{{ item.content }}</em>
{% endapply %}
{% endfor %}
