{% for item in items %}
    {% set videoVal = item.content|render|split('?v=') %}
    {% set videoId = videoVal[1]|split('&') %}
    <iframe src="https://www.youtube.com/embed/{{ videoId[0] }}" frameborder="0" allow="autoplay; encrypted-media" title="Embedded YouTube video" allowfullscreen></iframe>
{% endfor %}