{% set attributes = attributes.addClass([
  'block-' ~ configuration.provider|clean_class,
  attributes.id
]) %}
{% set title_attributes = title_attributes.addClass('visually-hidden') %}

<div{{ attributes }}>
  <h2{{ title_attributes }}>{{ label }}</h2>
  <div class="topics-list__grid">
      <div class="topics-list" id="topicsList">
        {% if hidden_our_news_picks != '1' %}
          <div class="topic topic--teaser topic--emphasized">
            <h3 class="topic__heading">
              <a href="/our-news-picks">{{ 'Our news picks'|t }}</a>
            </h3>
            <div class="topic__details">{{ drupal_view('news', 'our_news_picks_count') }}</div>
          </div>
        {% endif %}
        {% block content %}
          {{ content }}
        {% endblock %}
        <div class="topic topic--teaser topic--emphasized">
          <h3 class="topic__heading">
            <a href="/topics">{{ 'View all knowledge centers'|t }}</a>
          </h3>
        </div>
      </div>
  </div>
</div>