{% set attributes = attributes.addClass([
  'block-' ~ configuration.provider|clean_class,
  attributes.id
]) %}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>