<div class="topic">
    <h2 class="topic__heading"><a href="#">Federal budget</a></h2>
    <div class="topic__details">
        <div><strong>18</strong> new stories</div>
        <div><strong>11</strong> new documents</div>
    </div>
</div>