<footer class="site-footer" role="contentinfo">
	<div class="container gutter">
		<div class="footer-split">
			<div class="footer-split__left">
				<a href="/">
					<img class="footer__logo" src="/themes/policycenter/images/briefing-center.png" alt="{{ 'Briefing Center'|t }}"/>
				</a>
				{{ page.footer }}
			</div>
			<div class="footer-split__right">
				<div class="footer__social">
					<a href="https://bsky.app/profile/briefing-center.bsky.social/" rel="noopener" target="_blank">
						<svg class="link--with-icon__icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="512" height="512" fill="none" viewbox="0 0 512 512">
							<path fill="currentColor" d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2 42.1-31.6 110.3-56 110.3 21.8 0 15.5-8.9 130.5-14.1 149.2-18.2 64.8-84.4 81.4-143.3 71.3C456 322 482.2 380 425.6 438c-107.4 110.2-154.3-27.6-166.3-62.9-1.7-4.9-2.6-7.8-3.3-7.8-.7 0-1.6 3-3.3 7.8-12 35.3-59 173.1-166.3 62.9-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1 10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8v.1Z"/>
						</svg>
						<span class="visually-hidden">{{ 'Follow Briefing Center on Bluesky'|t }}</span>
					</a>
				</div>
				<span class="footer__copyright">©
					{{ "now"|date("Y") }}
					{{ link('Dineen News and Information Design', 'https://www.dineennews.com/', { 'target': '_blank'} ) }}</span>
			</div>
		</div>
	</div>
</footer>
