<header id="header" class="header__wrapper" role="banner" aria-label="{{ 'Site header'|t }}">
	<div id="skip">
		<a href="#content" class="skip-nav visually-hidden">{{ 'Skip to Main Content'|t }}</a>
	</div>
    <div class="header__main-wrapper container gutter">
        <div class="header">
            <div class="header__logo">
                <a href="/">
                    <img src="/themes/policycenter/images/briefing-center.png" alt="{{ site_name }}" />
                </a>
                {% if is_front %}
                    <h1 class="site-title visually-hidden" aria-label="Briefing Center">{{ site_name }}</h1>
                {% endif %}
            </div>
            <div class="header__options">
                {% if logged_in %}
                    <strong><a href="{{ path('entity.user.canonical', {'user': user.id}, {}) }}">{{ user.displayname }}</a></strong>
                {% endif %}
                {{ page.header }}
            </div>
            {% if logged_in %}
                <div class="header__search">
                    <button class="header__search-toggle">
                        <svg class="header__search-icon" aria-hidden="true" focusable="false">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                        <span class="visually-hidden">{{ 'Site search'|t }}</span>
                    </button>
                </div>
            {% endif %}
        </div>
        {% if logged_in %}
            <div class="site-search">
                <form class="site-search__form" method="get" action="/search">
                    <div class="site-search__input">
                        <label for="search_header" class="visually-hidden">{{ 'Search this website'|t }}</label>
                        <input type="text" id="search_header" name="search">
                        <input type="submit" class="site-search__submit" value="Search">
                    </div>
                </form>
            </div>
        {% endif %}
	</div>
</header>