<div class="js-view-dom-id-ajax-view">
    <article data-history-node-id="11" role="article" about="/news/introducing-policy-center-your-personal-newsroom" class="node story story--full">{{ drupal_view('stories', 'story_embed', '11') }}</article>
</div>