<div class="check-list-radio">
	<li class="cr_item">
		<input class="cr_input" type="radio" name="color" value="red" id="color-red">
		<label class="cr_label cr_label--radio" for="color-red">Red</label>
	</li>
	<li class="cr_item">
		<input class="cr_input" type="radio" name="color" value="blue" id="color-blue">
		<label class="cr_label cr_label--radio" for="color-blue">Blue</label>
	</li>
	<li class="cr_item">
		<input class="cr_input" type="radio" name="color" value="yellow" id="color-yellow">
		<label class="cr_label cr_label--radio" for="color-yellow">Yellow</label>
	</li>
</div>