<div class="jump-menu">
    <strong>Jump to:</strong>
    <ul>
        <li>
            <a href="#">State of Play</a>
        </li>
        <li>
            <a href="#">State of Play</a>
        </li>
        <li>
            <a href="#">State of Play</a>
        </li>
        <li>
            <a href="#">State of Play</a>
        </li>
        <li>
            <a href="#">State of Play</a>
        </li>
        <li>
            <a href="#">State of Play</a>
        </li>
    </ul>
</div>