.media-library-edit__link {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 10px;
  width: 24px;
  height: 24px;
  margin: 5px;
  padding: 0;
  transition: 0.2s border-color;
  color: transparent;
  border: 2px solid #ccc;
  border-radius: 20px;
  background: url(../icons/pencil.svg) #fff center no-repeat;
  background-size: 16px 16px;
  text-shadow: none;
  box-sizing: border-box;
}

.media-library-edit__link:hover {
  color: transparent;
}

.media-library-edit__modal::before {
  content: '';
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Hide media library edit modal backdrop if wrapped inside .ui-dialog */
.ui-dialog .media-library-edit__modal::before {
  display: none;
}
