<div class="expert">
    <div class="expert__content">
        <strong class="expert__heading">Expert Curator:</strong>
        <a href="#" class="expert__name">John Smith</a>
        <div class="expert__job-title">President, Company, Inc.</div>
    </div>
    <div class="expert__picture">
        <img src="https://unsplash.it/500/500/?random" alt="John Smith" />
    </div>
</div>