<div class="topics-list__grid">
    <ul class="topics-list">
        <li class="topic">
            <h2 class="topic__heading"><a href="#">Federal budget</a></h2>
            <div class="topic__details">
                <div><strong>18</strong> new stories</div>
                <div><strong>11</strong> new documents</div>
            </div>
        </li>
        <li class="topic topic--empty">
            <h2 class="topic__heading"><a href="#">Federal budget</a></h2>
            <div class="topic__details">
                <svg class="topic__icon">
                    <use xlink:href="#icon-eye--slashed"></use>
                </svg>
                <span>No new content</span>
            </div>
        </li>
        <li class="topic">
            <h2 class="topic__heading"><a href="#">Federal budget</a></h2>
            <div class="topic__details">
                <div><strong>18</strong> new stories</div>
                <div><strong>11</strong> new documents</div>
            </div>
        </li>
        <li class="topic">
            <h2 class="topic__heading"><a href="#">Federal budget</a></h2>
            <div class="topic__details">
                <div><strong>18</strong> new stories</div>
                <div><strong>11</strong> new documents</div>
            </div>
        </li>
        <li class="topic">
            <h2 class="topic__heading"><a href="#">Federal budget</a></h2>
            <div class="topic__details">
                <div><strong>18</strong> new stories</div>
                <div><strong>11</strong> new documents</div>
            </div>
        </li>
        <li class="topic">
            <h2 class="topic__heading"><a href="#">Federal budget</a></h2>
            <div class="topic__details">
                <div><strong>18</strong> new stories</div>
                <div><strong>11</strong> new documents</div>
            </div>
        </li>
    </ul>
</v>