<header id="header" class="header__wrapper" role="banner">
    <div id="skip">
        <a href="#content" class="skip-nav visually-hidden">Skip to Main Content</a>
    </div>
    <div class="header container gutter">
        <div class="header__logo">
            <a href="/">
                <img src="assets/images/logo--white.svg" alt="Policy Center" />
            </a>
        </div>
        <div class="header__options">
            <p>TBA</p>
        </div>
    </div>
</header>