.content-wrapper {
    @include mq($break-lg) {
        display: flex;
    }
}

.content__meta {
    // line-height: 1;
    color: $blue;
}
.content__sub-meta {
    color: lighten($darkgray, 18);
    line-height: 1.4;
    margin-top: 1rem;
}

.page-content {
    @include mq($break-lg) {
        flex: 1 0 calc(#{$two-third} - 30px);
        padding-right: 30px;
    }

    .section {
        background-color: $lightgray;
        padding: 20px 40px;

        .is-front & {
            padding: 0 40px 20px;
        }

        // .role--anonymous & {
        //     background-color: transparent;
        // }
    }

    .role--anonymous & {
        @include mq($break-lg) {
            padding-right: 0;
        }
    }
}

.tan-section {
    background-color: $tan;
    padding: 20px 40px;

    a {
        color: $brown;
    }
    .links.inline {
        a {
            background-color: $brown;

            @include link-states {
                background-color: darken($brown, 5);
            }
        }
    }

    .story__category {
        color: $brown;
    }

    .button {
        color: #fff;
        background-color: $brown;

        @include link-states {
            background-color: darken($brown, 5);
        }
    }
}

.page__body-content {
    .role--anonymous & {
        font-size: 1.8rem;
        line-height: 1.8;
        padding-top: 20px;
    }
}

.content__story {
    position: relative;
    transition: $spd-b all ease-in-out;
    &.long,
    &.long--always {
        max-height: 400px;
        overflow-y: hidden;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0) 50% ,$lightgray 100%);
        }
    }
    &.open {
        max-height: 100%;
        transition: $spd-b all ease-in-out;
        &:before {
            content: none;
        }
    }

    .role--anonymous.section-news & {
        padding-top: 20px;
    }
}

.content__topics {
    margin-top: 30px;
}

.action-links {
    margin: $gutter-sm 0;
}

.page-type {
    font-weight: 700;
    color: $blue;

    &::first-letter {
        text-transform: uppercase;
    }

    &.ts-h2 {
        margin-top: 40px;
        margin-bottom: 20px;

        &:empty {
            margin: 0;
        }

        .role--anonymous & {
            font-size: 3rem;
            margin-top: 20px;
        }
    }
}

.page-title {
    font-family: $font-main;
    margin-top: 0;
    line-height: 1;
    &.page-title--no-margin {
        margin: 0;
    }
    a {
        color: $text-color;
    }
    .block-views-block-homepage-pc-story & {
        margin: 0;
    }
}
h1.page-title {
    font-size: $ts-h2;
    @include mq($break-lg) {
        font-size: $ts-h1;
        .role--anonymous & {
            color: $messages-red;
            width: 100%;
            font-size: 3rem;
            & + .content__meta {
                margin-top: 20px;
            }
        }

        // Logged-out pages
        .role--anonymous & {
            margin-top: 20px;
        }
    }
}
.block-policycenter-page-title {
    @include mq($break-lg) {
        max-width: calc(#{$two-third} - 30px);
        .role--anonymous & {
            max-width: 100%;
        }
    }
}

.sidebar {
    @include mq($break-lg) {
        flex: 1 0 $third;
        width: $third;
        max-width: $third;
    }

    .is-not-front & {
        h2 {
            color: $brown;
        }
    }

    .role--anonymous & {
        h2 {
            color: $blue;
            margin-top: 0;
            font-size: 2.4rem;
        }
    }

    .is-front & {
        h2 {
            color: $blue;
        }

        article {
            background-color: $lightgray;
            padding: 20px 40px;

            .page-title {
                margin-bottom: 0;
            }
        }

        // Hide the heading from the sidebar Views block.
        &.role--anonymous {
            .block-views {
                h2 {
                    display: none;
                }
            }
        }
    }

    article {
        background-color: $lightgray;
        padding: 20px 40px;
    }

    .is-front.role--anonymous & {
        h2 {
            margin-top: 0;
        }

        article.story {
            padding: 0;
            gap: 10px;
        }

        .block-views {
            h2 {
                display: none;
            }
        }

        footer {
            display: none;
        }
    }
}

.read-more {
    margin-bottom: $vert-space-sm;
}

.multi-column-content {
    padding: 0 $gutter-sm;
    &:first-of-type {
        padding-left: 0;
    }
    &:last-of-type {
        padding-right: 0;
    }
}

// Margins for all Paragraphs
.paragraph {
    margin: $vert-space-md 0;
    h2:first-of-type:first-child,
    h3:first-of-type:first-child,
    h4:first-of-type:first-child {
        margin-top: 0;
    }

    .layout__region > & {
        margin-top: 0;
    }
}

.boxed-content {
	padding: 20px 30px;
	position: relative;
	background: $lightblue;
	transition: $spd-b all ease-in-out;
}

.pre-sidebar {
    @include mq($break-lg) {
        float: left;
        width: $two-third;
        padding-right: $gutter;
    }

    &__title {
        font-family: $font-main;
        font-size: $ts-h2;
        color: $darkblue;
        margin-bottom: $vert-space-md;
    }
}
.js-view-dom-id-ajax-view {
    min-height: 300px;
    .page-title {
        font-family: $font-secondary;
        font-size: $ts-body;
        margin-bottom: 0;
    }
}

.block-views-block-news-list {
    .heading--underlined {
        margin-bottom: 0;
    }
    header {
        margin: 10px 0;
        font-size: 1.6rem;
    }
}
.block-views-block-news-our-news-picks {
    header {
        margin: 10px 0;
        font-size: 1.6rem;
    }
}

// Homepage
.is-front {
    .page-content {
        header {
            background: $background-color;
            margin: 0 -40px 20px;
            padding: 0 40px 20px 0;

            h2 {
                margin-bottom: 0;
                color: $blue;
            }
        }
    }
}

.share-contents {
    position: absolute;
    padding: 10px;
    z-index: 1;
    background-color: $darkblue;
    color: #fff;

    a {
        color: #fff;
    }

    .link--with-icon {
        color: #fff;
        & + .link--with-icon {
            margin-left: 0;
        }

        @include link-states {
            color: #fff;

            .link--with-icon__text {
                color: #fff;
                border-bottom-color: #fff;
            }
        }
    }

    .link--with-icon__text {
        color: #fff;
    }

    &.toggle-contents {
        &.open {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

fieldset:not(.fieldgroup).edit-in-place-clickable {
    .fieldgroup {
        input {
            float: none;
            margin: 5px 0;
        }
    }
    .fieldset-wrapper {
        .entity-label {
            // Hide ul, since the entity teasers are listed below it.
            display: none;
        }
    }
}

// User-generated content pages
.page--ugc {
    h1.page-title,
    h2 {
        font-family: $font-secondary;
        color: $brown;
    }

    h1.page-title {
        font-size: $ts-h2;
    }

    &:not(.page-dashboard) {
        [id="sidebar-blocks"]:not(:empty),
        [id="main-blocks"]:not(:empty) {
            background-color: $tan;
            padding: 20px;

            h2 {
                font-size: $ts-h3;
            }
        }
    }

    &.page-dashboard {
        .layout__region--first:not(:empty),
        .layout__region--second:not(:empty) {
            background-color: $tan;
            padding: 20px;
        }
    }
}