.front-list {
    position: relative;
    &__checkbox {
        label {
            font-weight: normal;
        }    
    }
    .heading--underlined {
        margin-top: 0;
    }
    @include mq($break-lg) {
        &__checkbox {
            position: absolute;
            top: 0;
            right: 0;
        }
        .heading--underlined {
            margin-top: 40px;
        }
    }
}

.section-item {
    .block-contexture-components {
        & > .heading--underlined {
            margin-top: 0;
        }
    }
}

.watchlist {
    margin-bottom: $vert-space-sm;
}
.recommendations {
    margin-bottom: $vert-space-sm;
}

.contexture-note {
    margin-bottom: 20px;
}

.contexture-note__textarea {
    width: 100%;
    display: block;
}

// empty states
.empty-state {
    display: flex;
    margin: 20px 0;
    .empty-state__icon {
        width: 48px;
        height: 48px;
        flex: 0 0 auto;
        align-self: center;
        .empty-state--watchlist & {
            color: #fff;
        }
    }
    &__text {
        margin: 0 0 0 15px;
    }
}

.block-newnote {
    .heading--underlined {
        margin-top: 0;
    }
}