[id="masquerade-block-form"] {
    margin: 10px 0;
}

// Layouts
.layout--twocol {
    gap: 2rem;

    & > .layout__region--first,
    & > .layout__region--second {
        @include mq($break-lg) {
            flex: 1 0 calc(50% - 1rem);
        }
    }
}

// Inline editing of Note nodes
.frontend-editing-actions {
    position: relative;

    &::before {
        content: none;
    }
}
a.frontend-editing__action {
    background-color: $darkblue;
    padding: 0 5px;
    text-decoration: none;
    opacity: 1;
    overflow: visible;
    text-indent: 0;
    color: white;
    width: auto;
    height: auto;

    &::before {
        content: none;
    }

    @include link-states {
        background-color: $darkgray;
    }
}
.frontend-editing--outline {
    outline-color: $darkgray;

    a.frontend-editing__action {
        background-color: $darkgray;
    }
}

button.editing-container__toggle,
button.editing-container__close {
    border: none;
}
.editing-container {
    background-color: white;
    padding: 3rem 1rem 0;
}

// Floated content
.align-left,
.align-right {
    max-width: 30%;
    margin: 20px;

    figcaption {
        line-height: 1.2;
    }
}
