.site-footer {
    background: $darkgray;
    color: #fff;
    padding: $vert-space-md 0;
    margin-top: $vert-space-md;
    a {
        color: #fff;
    }	
}

.footer-split {
    display: flex;
    flex-wrap: wrap;
    @include mq($break-lg, max) {
        flex-direction: column;
    }
}
.footer-split__left {
    flex: 1 0 auto;
    @include mq($break-lg, max) {
        margin-bottom: 20px;
    }
}

.footer__logo {
    width: 250px;
}

.footer__social {
    @include mq($break-lg) {
        text-align: right;
    }
}

.footer__copyright {
    font-size: $ts--copyright;
}