.header__wrapper {
    background: $gradient-blue;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    background: $gradient-blue;
    position: relative;
    z-index: 2;
    @include mq($break-lg, max) {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.header__main-wrapper {
    position: relative;
}

.header__logo {
    flex: 1 0 auto;
    line-height: 0;
    img {
        @include mq($break-lg) {
            width: 500px;
        }
        @include mq($break-lg, max) {
            height: 50px;
        }
    }
}

.header__options {
    line-height: $text-lh-sm;
    text-align: center;
    a {
        color: #fff;
    }
    @include mq($break-lg) {
        text-align: right;
    }
}

.header__search-toggle {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    margin-top: $gutter-sm;
    cursor: pointer;
    @include mq($break-lg) {
        margin-top: 0;
        margin-left: $gutter-sm;
    }
}
.header__search-icon {
    width: 24px;
    height: 24px;
    @include mq($break-lg) {
        width: 32px;
        height: 32px;
    }
}
.site-search {
    position: absolute;
    top: 100%;
    background: $semilightblue;
    padding: 10px;
    z-index: 1;
    transform: translateY(-100%);
    transition: $spd-a all ease-in-out;
    &.open {
        transform: translateY(0);
        transition: $spd-a all ease-in-out;
    }
    @include mq($break-sm, max) {
        width: calc(100% - #{$gutter});
        left: 15px;
    }
    @include mq($break-lg, max) {
        width: calc(100% - (#{$gutter} * 2));
        left: 30px;
    }
    @include mq($break-lg) {
        right: $gutter;
    }
}
.site-search__input {
    display: flex;
    input[type="text"] {
        border-radius: 0;
        border: none;
        width: 100%;
        @include mq($break-lg) {
            min-width: 300px;
            width: auto;
        }
    }
    input[type="submit"] {
        border: none;
        background: $darkblue;
        color: #fff;
        transition: $spd-a all ease-in-out;
        cursor: pointer;
        @include link-states {
            background: darken($darkblue, 5);
            transition: $spd-a all ease-in-out;
        }
    }
}