.jump-menu {
    background: $lightblue;
    padding: 20px 30px;
    font-size: $ts--jump-menu;
    ul {
        margin: 10px 0;
    }
    li {
        color: $blue;
        font-weight: 600;
        font-size: $ts-body;
    }
}