// Status messages
.messages {
	padding: $gutter-sm;
	&.messages--info {
		padding: $gutter-sm 30px;
		background-position-y: 23px;
	}
}
.messages--status {
	background: $messages-green;
	color: $nearblack;
	a {
		color: $nearblack;
		text-decoration: underline;
	}
}
.messages--error {
	background: $messages-red;
	color: #fff;
	a {
		color: #fff;
		text-decoration: underline;
	}
}
.messages--warning {
    background: $messages-orange;
    color: $darkgray;
	a {
		color: $darkgray;
		text-decoration: underline;
	}
}