.ui-dialog {
    padding: 0;
}

.ui-dialog-titlebar {
    color: white;
    background-color: $blue;
}

.ui-button {
    @include link-states {
        border: 2px solid transparent;
        font-weight: 600;
        color: $lightblue;
    }
}

// Media Library modal in sidebar
[id="drupal-modal"] {
    .dropzone {
        .button {
            color: $lightblue;
        }
    }

    .views-exposed-form {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .media-library-wrapper {
        .views-display-link {
            font-size: initial;
            padding-left: 20px;
            margin-right: 10px;
        }
    }

    .media-library-item__content {
        .document__name {
            padding: 5px;
        }
    }
}