.menu--bulleted {
    .menu-item {
        display: inline-block;
        & + .menu-item {
            &:before {
                content: '·';
                padding: 0 2px;
            }
        }
    }
}

.sidebar {
    .block-contexture-components {
        margin-bottom: 30px;
    }
}

.menu--marketing-pages {
    .menu {
        display: flex;
        gap: 20px;
        margin: 30px 0;
        padding: 0;
        flex-wrap: wrap;
        list-style: none;
        font-family: $font-main;
        font-size: 1.8rem;
        font-weight: bold;
        justify-content: space-between;
        @include mq($break-lg, max) {
            flex-direction: column;
        }
        a {
            padding: 2px 0;
            font-size: 1.6rem;
            @include link-states {
                border-bottom: 2px solid currentColor;
                text-decoration: none;
            }
        }

        .page--marketing &,
        .is-front & {
            font-family: $font-marketing-condensed;
            text-transform: lowercase;

            .menu-item:not(.menu-item--child) {
                &:last-of-type {
                    a {
                        color: $darkgray;
                    }
                }
            }
        }
    }
    .menu__drawer {
        display: none;
        position: absolute;
        background-color: $background-color;
        .menu {
            flex-direction: column;
            margin: 0;
        }
        &.open {
            display: block;
        }
    }
    .menu-item {
        flex: 1 0 auto;
        &.menu-item--active-trail {
            & > a {
                color: $messages-red;
            }
        }
        .is-active {
            color: $messages-red;
        }

        &:not(.menu-item--child):last-of-type {
            text-align: right;

            @include mq($break-lg) {
                margin-left: 40px;
            }
        }
    }
}

.menu-expander {
    border: none;
    line-height: 0;
    transition: 0.1s all ease-in-out;

    svg {
        width: 14px;
        height: 14px;
        color: $darkblue;
    }

    &.open {
        transform: rotate(45deg);
        transition: 0.1s all ease-in-out;
    }
}