.note-teaser {
    margin-bottom: 30px;

    .note__body {
        overflow-wrap: break-word;

        & > p {

            &:first-of-type {
                margin-top: 10px;
            }

            &:last-of-type {
                margin-bottom: 10px;
            }

        }
    }
}

.node-note-sidebar-form {
    .field--name-field-documents {
        .js-media-library-item {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 10px;
            line-height: $text-lh-sm;
            margin: 10px 0;

            .js-media-library-widget-toggle-weight {
                display: none;
            }

            .document__name {
                word-break: break-word;
                padding: 5px;
            }

            input[type="submit"] {
                flex: 1 0 auto;

                &.media-library-item__remove {
                    background: transparent;
                }
            }
        }
    }

    .media-library-selection {
        gap: 20px;

        .media-library-item--grid {
            width: calc(50% - 10px);
        }
    }
}