// FAQ
// .faq-item {
//     margin-bottom: 20px;
// }
.faq-item__summary {
    font-weight: 600;
    // cursor: pointer;
    // &::-webkit-details-marker {
    //     color: $darkblue;
    // }
}

// Timeline
.timeline-item {
    margin-bottom: 20px;
}
.timeline__date {
    color: $blue;
}

.side-quote {
    color: $darkblue;
    line-height: $text-lh-xs;
    font-weight: 600;
    // margin: 35px 0; // to vertically align with huge text in marketing pages
    a {
        text-decoration: underline;
    }
}

// Postcard
.postcard-wrapper {
    overflow: hidden;
}

.postcard {
    position: relative;
    display: flex;
    margin: 30px auto;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    line-height: 1;
    background-color: $darkblue;
    background-size: cover;
    min-height: 500px;
    padding: 15px;
    // max-width: 900px;
    text-align: center;
    @include target-expander;
    &:after {
        background-color: rgba(0,0,0,0.6);
        transition: $spd-b all ease-in-out;
    }
    &.postcard--with-link {
        @include link-states {
            &:after {
                @include bg-rgba($darkblue, 0.8);
                transition: $spd-b all ease-in-out;
            }
        }
    }
    &__link {
        font-size: $ts-h3;
        font-weight: 600;
        color: #fff;
        z-index: 1;
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        @at-root a#{&} {
            .content & {
                text-decoration: none;
                @include link-states {
                    text-decoration: underline;
                }
            }
        }
    }
}

// Content With Image
.content-with-image__image {
    margin-top: 10px; // to match p margin
    // .role--anonymous .page__body-content > div > .content-with-image:not(:first-child) & {
    //     margin-top: 1em;
    //     & > figure.content-with-image__image {
    //         margin-top: 0;
    //     }
    // }
}
// .content-with-image__content {
//     .role--anonymous .page__body-content > div > .content-with-image:not(:first-child) & {
//         margin-top: 0;
//     }
// }
.role--anonymous .page__body-content > div > .content-with-image:first-child {
    padding-top: 0;
    .content-with-image__content {
        margin-top: 0;
        & > .content_with_quote__long-formatted-text > p {
            margin-top: 0;
        }
    }
    .content-with-image__image {
        margin-top: 0;
        .content_with_quote__pull-quote > p {
            margin-top: 10px;
        }
    }
    .content_with_image__long-formatted-text > p:first-child {
        margin-top: 0;
    }
}