.views-exposed-form {
  margin-bottom: $vert-space-md;

  // Notes search
  &[data-drupal-selector="views-exposed-form-notes-personal-list"] {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-item-keywords {
      display: flex;
      flex-direction: column;
    }
  }

  &[data-drupal-selector="views-exposed-form-search-page"] {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 20px;

    input,
    select {
      height: 60px;
    }

    .form-item-sort-by {
      display: flex;
      flex-direction: column;
    }

    .form-item-search {
      flex: 1 0 100%;
    }

    .bef--secondary {
      flex: 1 0 100%;

      .fieldset-wrapper {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
      }

      & > .form-item {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: 50%;
      }
    }

    fieldset[data-drupal-selector="edit-type"] {
      flex: 1 0 100%;

      .form-checkboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 0 20px;

        & > .bef-toggle {
          flex: 1 0 100%;
        }

        .form-item {
          display: flex;
          align-items: center;
          gap: 5px;

          .option {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &[data-drupal-selector="views-exposed-form-homepage-pc-story"] {
    margin-bottom: 0;
    background-color: $lightgray;

    ul {
      display: flex;
      gap: 10px;
      line-height: 1;
      margin: 0;
      padding: 25px 40px 5px;
      list-style-type: none;

      li {
        &:not(:first-of-type) {
          border-left: 1px solid;
          padding-left: 10px;
        }

        .bef-link--selected {
          font-weight: 600;
          pointer-events: none;
        }
      }
    }
  }
}

.form-item-search {
  flex: 1 0 auto;

  input[data-drupal-selector="edit-search"] {
    height: 60px;
    width: 100%;
  }
}
