@keyframes splash-content {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.splash-page {
    // color: #fff;
    display: flex;
    line-height: 0;

    a:not([id^="tab-topics__heading--"]) {
        // color: #fff;
        font-weight: 600;
    }
}

.splash__image {
    flex: 1 0 30%;
    background-color: $lightblue;
    position: relative;

    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
        background-color: #fff; // fix for translucent images
    }

    &-overlay {
        position: absolute;
        top: 35vh;
        left: 50%;
        transform: translateX(-50%);
        width: 60%; // restrict size

        @include mq($break-lg) {
            top: 32vh;
        }

        img {
            background-color: transparent;
            width: auto;
            height: auto;
        }
    }
}

.splash__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/bg--typewriter.jpg');
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
    }
    // @include mq($break-lg) {
    //     opacity: 0;
    //     &:not(.splash__background-image--static) {
    //         animation: 1s splash-content forwards 3s;
    //     }
    // }
}

.splash__content {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    position: relative;
    line-height: initial;
    color: $text-color;
    overflow-y: scroll;

    @include mq($break-lg) {
        padding: 0 100px;
        flex: 1 1 70%;
        height: 100vh;
    }

    & > * {
        z-index: 1;
    }
    // &.splash__content--static {
    //     &:after {
    //         content: '';
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         top: 0;
    //         left: 0;
    //         background: rgba(0,0,0,0.4);
    //     }
    // }

    h1, h2, h3 {
        font-family: $font-marketing;
        text-transform: lowercase;

        &.story__heading {
            font-family: $font-marketing-condensed;
            text-transform: initial;
        }

        .section-news & {
            &.page-title {
                text-transform: initial;
                font-family: $font-main;
            }
        }
    }

    .button {
        background-color: transparent;
        color: $blue;
        font-family: $font-marketing-condensed;
        text-transform: lowercase;
        padding: 0;

        @include link-states {
            background-color: transparent;
            color: darken($blue, 5);
            text-decoration: underline;
        }
    }
}
.splash__content--main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq($break-lg) {
        width: 40%;
        // opacity: 0;
        // animation: 1s splash-content forwards 3s;
    }
}
.splash__content--home {
    justify-content: flex-end;
    margin-bottom: 30px;
    @include mq($break-lg) {
        width: 50%;
    }
}
.splash__content-box {
    // max-height: 500px;
    // overflow-y: auto;
    padding-right: 10px;
    &::-webkit-scrollbar {
        background-color: transparent;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darken($medlightgray, 5);
        border-radius: 12px;
    }
}
.feed-item-title {
    font-size: 1.8rem;
}
.rss2html-note {
    display: none;
}
.feed__credit {
    text-align: right;
    display: block;
    font-size: 1.5rem;
}

.splash__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.splash__logo {
    align-self: flex-start;
    position: relative;
    z-index: 4;
    margin: 30px 0;

    img {
        width: 100%;

        @include mq($break-lg) {
            min-width: 575px;
        }
    }
}

.splash__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2.4rem;
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    // @include mq($break-lg) {
    //     opacity: 0;
    //     animation: 1s splash-content forwards 3s;
    // }
    .role--anonymous & {
        margin-top: 30px;
    }
}
.splash__menu-item {
    a {
        font-family: $font-marketing-condensed;
        color: $blue;
        text-transform: lowercase;

        &.is-active {
            color: $messages-red;
        }

        &:last-of-type {
            color: $darkgray;
        }
    }

    @include mq($break-lg) {
        display: inline-block;
        + .splash__menu-item {
            margin-left: 40px;
        }
    }
}

.splash__main-content {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    line-height: 1.6;
    margin-top: 30px;

    @include mq($break-lg) {
        margin-top: 60px;
        gap: 30px;
    }
}

.splash__main-text {
    margin: 0 40px;
    .is-front & {
        max-width: 65ch;
    }
}

.splash__sidebar {
    flex: 1 0 40%;
    width: 40%;
    max-width: 40%;

    .basic__body {
        padding-top: 20px;
    }
}

.splash__copyright {
    align-self: flex-start;
    position: absolute;
    bottom: 0;
    // @include mq($break-lg) {
    //     opacity: 0;
    //     animation: 1s splash-content forwards 3s;
    // }
}

.user-login-form,
.user-pass {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;

    .form-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.user-register-form {
    margin-bottom: 40px;

    .form-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;
    }
}

.image-heading__wrapper {
    padding-top: 75px;

    img {
        height: 8.5rem;
        max-width: 90%;
    }
}