.tabs {
	padding: 0;
	ul {
		padding: 0;
		margin: 0;
	}
}
.tabs__tab {
	display: inline-block;
	background: $darkblue;
	margin-bottom: 5px;
	& > a {
		color: #fff;
		padding: 0 5px;
		background: $darkblue;
		display: block;
		transition: $spd-a all ease-in-out;
        text-decoration: none;
		font-weight: normal;

		.splash-page & {
			padding: 5px;
		}

		@include link-states {
			background: darken($darkblue, 5);
			transition: $spd-a all ease-in-out;
			color: #fff;
		}
	}
}

.links.inline {
	@extend .tabs;
	display: inline-block;
	& > li {
		@extend .tabs__tab;
		& + li {
			margin-left: 5px;
		}

		&.plain {
			background-color: transparent;
		}
	}
	.contexture-note & {
		margin: 0;
	}
}

.link--tab {
	@extend .tabs__tab;
}