<div class="topic topic--lg">
    <h2 class="topic__heading">
        <span class="topic__label">{{ 'Related Knowledge Center: '|t }}</span>
        <a href="{{ url }}" tabindex="-1">{{ label }}</a>
    </h2>
    <div class="topic__details">
        {% if node.field_state_of_play is not empty %}
            <div>
                <strong>{{ 'State of Play'|t }}</strong>
            </div>
            {{ content.field_state_of_play }}
        {% endif %}
        <strong><a href="{{ url }}">{{ 'More information'|t }}<span class="visually-hidden">{{ 'about '|t }}{{ label }}</span></a></strong>
    </div>
</div>