{% set authors %}
  {{ content.field_author_s_ }}
{% endset %}
{% set source %}
  {{ content.field_source }}
{% endset %}

<div class="teaser">
    <h2 class="teaser__heading">
        <a href="{{ url }}" tabindex="0">{{ label }}</a>
    </h2>
    <span class="teaser__type">{{ node.gettype|replace({'story': 'news'}) }}</span>
</div>