{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node'
] %}

{% set titleOnly %}
  {{ label }}
{% endset %}
{% set authors %}
  {{ content.field_author_s_ }}
{% endset %}
{% set source %}
  {{ content.field_source }}
{% endset %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}

<article{{ attributes.addClass(classes) }}>

  <div class="content-wrapper no-margin">
    <div class="page-content">
      {% if content.field_kicker.0 is not empty %}
        <div class="page-type ts-h2">{{ content.field_kicker.0 }}</div>
      {% else %}
        <div class="page-type ts-h2">{{ node.gettype|replace({'story': 'news'}) }}</div>
      {% endif %}
      <section class="section">
        <h1 class="page-title">{{ label }}</h1>

        {% if node.field_author_s_ is not empty or node.field_source is not empty or node.field_share_to_workgroup.value == 1 %}
          <div class="content__meta">
            {% if node.field_author_s_ is not empty %}
              <strong>{{ authors|striptags|trim }}</strong>
            {% endif %}
            {% if node.field_author_s_ is not empty and node.field_source is not empty %} <span aria-hidden="true">&middot;</span> {% endif %}
            {% if node.field_source is not empty %}
              <em>{{ source|striptags|trim }}</em>
            {% endif %}
            {% if node.field_share_to_workgroup.value == 1 %}
              <span>{{ '(Shared to workgroup)'|t }}</span>
            {% endif %}
          </div>
        {% endif %}

        <div class="action-links">
          <button class="link--with-icon toggle-button">
            <svg class="link--with-icon__icon">
                <use xlink:href="#icon-share"></use>
            </svg>
            <span class="link--with-icon__text">{{ 'Share'|t }}</span>
          </button>
          <div class="toggle-contents share-contents">
            <a href="mailto:?subject=From briefing·center: {{ label|render|striptags|trim }}&body={{ label|render|striptags|trim }}%0D%0A%0D%0ARead%20this%20story%20on%20briefing%C2%B7center%3A%20{{ site.host ~ url }}" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-mail"></use>
                </svg>
                <span class="link--with-icon__text visually-hidden">{{ 'Email'|t }}</span>
            </a>

            <a href="https://twitter.com/intent/tweet?text={{ label|render|striptags|trim }}&url={{ site.host ~ url }} via @briefing_center" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
                <span class="link--with-icon__text visually-hidden">{{ 'Twitter'|t }}</span>
            </a>

            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.host ~ url }}" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-facebook"></use>
                </svg>
                <span class="link--with-icon__text visually-hidden">{{ 'Facebook'|t }}</span>
            </a>

            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.host ~ url }}" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
                <span class="link--with-icon__text visually-hidden">{{ 'LinkedIn'|t }}</span>
            </a>
          </div>

          {{ content.flag_save }}
          {{ content.flag_topic_bar }}
        </div>

        <div{{ content_attributes.addClass('content') }}>
          <div id="main-blocks"></div>

          {% if not node.published %}
            <p class="messages messages--warning">
              <strong>{{ 'Unpublished:'|t }}</strong>
              {{ 'Only you can view this content. Edit and publish it to make it visible to everyone.'|t }}
            </p>
          {% endif %}

          <div class="content__story long">
            {{ content.field_body_content }}
          </div>
          <div class="read-more text-bold">
            <a href="#" id="read-story">{{ 'Read full story'|t }}</a>
          </div>
          <div class="content__topics">
            {{ content.field_topics }}
          </div>
        </div><!-- /.content -->
      </section>
    </div>

    {% if logged_in %}
      <div id="sidebar-first" class="column sidebar">
        <div class="section">
          {{ content.field_notes }}
        </div>
        {{ drupal_region('sidebar_first') }}
      </div>
    {% endif %}

  </div>



</article><!-- /.node -->
