<div class="topic topic--lg">
    <h2 class="topic__heading">
        <a href="{{ url }}" tabindex="0">{{ label }}</a>
    </h2>
    <span class="topic__label">{{ 'Event:'|t }}</span>
    <div class="topic__details">
        {% if node.field_lede is not empty %}{{ content.field_lede }}{% endif %}
        <a href="{{ url }}" class="button-outline">{{ 'More information'|t }}<span class="visually-hidden">{{ 'about '|t }}{{ label }}</span></a>
    </div>
</div>