{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node'
] %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}

{% set newsItems = drupal_view('news', 'list_topic')|render  %}

<article{{ attributes.addClass(classes) }}>

  <div id="main-blocks"><div class="content-wrapper no-margin">
    <div class="page-content" id="topicContent">
      <div class="page-type ts-h2">{{ node.gettype|replace({'topic': 'Knowledge center'}) }}</div>
      <section class="section">

        <h1 class="page-title">{{ label }}</h1>

        {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
          <header>
            {{ title_prefix }}
            {% if not page and label %}
              <h2{{ title_attributes.addClass(title_classes) }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
              </h2>
            {% endif %}
            {{ title_suffix }}

            {% if display_submitted %}
              <div class="submitted">
                {{ author_picture }}
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
              </div>
            {% endif %}

            {% if not node.published %}
              <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
            {% endif %}
          </header>
        {% endif %}

        <div class="action-links">
          <button class="link--with-icon toggle-button">
            <svg class="link--with-icon__icon">
                <use xlink:href="#icon-share"></use>
            </svg>
            <span class="link--with-icon__text">{{ 'Share'|t }}</span>
          </button>
          <div class="toggle-contents share-contents">
            <a href="mailto:?subject=From briefing·center: {{ label|render|striptags|trim }}&body={{ label|render|striptags|trim }}%0D%0A%0D%0ARead%20this%20story%20on%20briefing%C2%B7center%3A%20{{ site.host ~ url }}" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-mail"></use>
                </svg>
                <span class="link--with-icon__text visually-hidden">{{ 'Email'|t }}</span>
            </a>

            <a href="https://twitter.com/intent/tweet?text={{ label|render|striptags|trim }}&url={{ site.host ~ url }} via @briefing_center" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
                <span class="link--with-icon__text visually-hidden">{{ 'Twitter'|t }}</span>
            </a>

            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.host ~ url }}" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-facebook"></use>
                </svg>
                <span class="link--with-icon__text visually-hidden">{{ 'Facebook'|t }}</span>
            </a>

            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.host ~ url }}" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
                <span class="link--with-icon__text visually-hidden">{{ 'LinkedIn'|t }}</span>
            </a>
          </div>

          {{ content.flag_topic_bar }}
        </div>

        <div{{ content_attributes.addClass('content') }}>

          {% if node.field_expert_curator is not empty %}
            {{ content.field_expert_curator }}
          {% endif %}

          {% if node.field_state_of_play is not empty %}
            {{ content.field_state_of_play }}
          {% endif %}

          <div id="topic-tabs">
              <ul class="topic-tabs__group">
                  {% if logged_in and newsItems|striptags|trim %}
                    <li class="topic-tab"><a href="#topics__heading--stories" id="tab-stories">{{ 'The Latest'|t }}</a></li>
                  {% endif %}
                  {% if node.field_faq_items is not empty %}
                    <li class="topic-tab"><a href="#topics__heading--faqs" id="tab-time-faqs">{{ 'FAQs'|t }}</a></li>
                  {% endif %}
                  {% for tabLabel in tabLabels %}
                    <li class="topic-tab"><a href="#topics__heading--extra{{ loop.index }}" id="tab-timeline">{{ tabLabel }}</a></li>
                  {% endfor %}
                  {% if node.field_curated_content is not empty %}
                    <li class="topic-tab"><a href="#topics__heading--curated" id="tab-curated">{{ 'Key Stories'|t }}</a></li>
                  {% endif %}
                  {% if rid is not empty %}
                    <li class="topic-tab"><a href="#topics__heading--events" id="tab-events">{{ 'Timeline'|t }}</a></li>
                  {% endif %}
                  {% if rid is not empty %}
                    <li class="topic-tab"><a href="#topics__heading--glossary" id="tab-glossary">{{ 'Glossary'|t }}</a></li>
                  {% endif %}
              </ul>
              {% if logged_in and newsItems|striptags|trim %}
                <div class="tabPanel">
                    <h2 class="topic-panel__heading visually-hidden topic-panel__heading--stories">{{ 'The Latest'|t }}</h2>
                    <div id="topic-search">{{ drupal_block('views_block:news-list_topic') }}</div>
                </div>
              {% endif %}
              {% if node.field_faq_items is not empty %}
                <div class="tabPanel">
                    <h2 class="topic-panel__heading visually-hidden topic-panel__heading--faqs">{{ 'FAQs'|t }}</h2>
                    {{ content.field_faq_items }}
                </div>
              {% endif %}
              {% if tabLabels %}
                {% for tabLabel in tabLabels %}
                  <div class="tabPanel">
                      <h2 class="topic-panel__heading visually-hidden topic-panel__heading--timeline">{{ tabLabel }}</h2>
                      {% if loop.index %}
                        {% for pid in tabContents[loop.index0] %}
                          {{ drupal_entity('paragraph', pid['target_id']) }}
                        {% endfor %}
                      {% endif %}
                  </div>
                {% endfor %}
              {% endif %}
              {% if node.field_curated_content is not empty %}
                <div class="tabPanel">
                    <h2 class="topic-panel__heading visually-hidden topic-panel__heading--curated">{{ 'Curated Content'|t }}</h2>
                    {{ content.field_curated_content }}
                </div>
              {% endif %}
              {% if rid is not empty %}
                <div class="tabPanel">
                    <h2 class="topic-panel__heading visually-hidden topic-panel__heading--timeline">{{ 'Timeline'|t }}</h2>
                    {{ drupal_block('briefing_center_orientdb_event') }}
                </div>
              {% endif %}
              {% if rid is not empty %}
                <div class="tabPanel">
                    <h2 class="topic-panel__heading visually-hidden topic-panel__heading--glossary">{{ 'Glossary'|t }}</h2>
                    {{ drupal_block('briefing_center_orientdb_glossary') }}
                </div>
              {% endif %}
          </div>

        </div><!-- /.content -->
      </section>
    </div>

    {% if logged_in %}
      <div id="sidebar-first" class="column sidebar">
        <div class="section comments">
          <h2>{{ 'My notes'|t }}</h2>
          <div class="tan-section">
            <button class="button button--icon-only toggle-button">
              <svg class="button__icon">
                  <use xlink:href="#icon-plus"></use>
              </svg>
              <span class="visually-hidden">{{ 'Add note'|t }}</span>
            </button>
            <div class="toggle-contents">
              {{ new_topic_note_form }}
            </div>
            {{ drupal_view('notes', 'personal_node_topic') }}
          </div>
          <div id="sidebar-blocks">{{ drupal_region('sidebar_second') }}</div>
        </div>
      </div>
    {% endif %}

  </div></div>

</article><!-- /.node -->
