<div class="topic topic--teaser">
    <h3 class="topic__heading">
        <a href="{{ url }}">{{ label }}</a>
    </h3>
    <div class="topic__flags">
        {{ content.flag_save|render }}
        {{ content.flag_topic_bar|render }}
    </div>
    <div class="topic__details">
        {{ drupal_view('news', 'latest_event', node.id) }}
    </div>
</div>