{% set authors %}
  {{ content.field_author_s_ }}
{% endset %}
{% set source %}
  {{ content.field_source }}
{% endset %}

<div class="teaser">
    <h2 class="teaser__heading">
        <a href="{{ url }}" tabindex="0">{{ label }}</a>
    </h2>
    <span class="teaser__type">
      {% if content.field_kicker.0 is not empty %}
        {{ content.field_kicker.0 }}
      {% else %}
        {{ node.gettype|replace({'story': 'news'}) }}
      {% endif %}
    </span>
    <div class="teaser__details">
        {% if node.field_author_s_ is not empty or node.field_source is not empty %}
          <div class="content__meta">
            {% if node.field_author_s_ is not empty %}
              <strong>{{ authors|striptags|trim }}</strong>
            {% endif %}
            {% if node.field_author_s_ is not empty and node.field_source is not empty %} <span aria-hidden="true">&middot;</span> {% endif %}
            {% if node.field_source is not empty %}
              <em>{{ source|striptags|trim }}</em>
            {% endif %}
          </div>
        {% endif %}
    </div> 
</div>