{% if node.field_source_name.value is not empty %}
  {% set source_name = content.field_source_name %}
{% else %}
  {% set source_name = 'View source'|t %}
{% endif %}

{% if content_link is not empty %}
  {% set title %}<a href="{{ content_link }}">{{ label }}</a>{% endset %}
{% elseif topic_link is not empty %}
  {% set title %}<a href="{{ topic_link }}">{{ label }}</a>{% endset %}
{% else %}
  {% set title = label %}
{% endif %}



<article{{ attributes.addClass('note-teaser') }}>
  {{ title_prefix }}
  <div{{ content_attributes.addClass('content', layout) }}>
    <strong>{{ title }}</strong>
    {{ content.body }}
    {{ content.field_documents }}
  </div>
  
  <footer>
    <em class="submitted">—{{ 'Submitted by '|t }}{{ author_name|raw }}{{ ' on ' ~ node.getCreatedTime()|format_date('month_day_year') }}</em>
  </footer>
  {% if node.field_source_link.uri is not empty %}
    <div>
      <strong>
        <a href="{{ node.field_source_link.uri }}">{{ source_name }}</a>
      </strong>
    </div>
  {% endif %}
  
  {% if (not current_nid or current_node_type == 'topic') and content_link %}
    <div>
      <strong>
        <a href="{{ content_link }}">{{ 'View original content'|t }}</a>
      </strong>
    </div>
  {% endif %}
  {% if (not current_nid or current_node_type == 'news') and topic_link %}
    <div>
      <strong>
        <a href="{{ topic_link }}">{{ 'View knowledge center'|t }}</a>
      </strong>
    </div>
  {% endif %}
  {{ content.frontend_editing }}
  {{ title_suffix }}
</article>
