{% set latestNewsTimestamp = drupal_view_result('news', 'latest_topic', node.id)[0].node_field_data_created %}
{% set changedTimestamp = node.changed.value %}
{% set changedDate = node.changed.value|date("n/j/y") %}
{% set changedTime = node.changed.value|date("g:i A") %}

{% if changedTimestamp > latestNewsTimestamp %}
    {# If Topic last-updated time is later than last tagged News update, use updated time. #}
    {% set topicUpdatedTime %}
        <div class="views-element-container"><span class="field-content">{{ 'Last updated '|t }} {{ changedDate }} – {{ changedTime }}</span></div>
    {% endset %}
{% else %}
    {# If not, use the date of the last News update with the Topic. #}
    {% set topicUpdatedTime = drupal_view('news', 'latest_topic', node.id) %}
{% endif %}

<div class="topic topic--teaser">
    <h3 class="topic__heading">
        <a href="{{ url }}">{{ label }}</a>
    </h3>
    <div class="topic__details">
        {{ topicUpdatedTime }}
    </div>
    <button class="link--with-icon toggle-button">
        <svg class="link--with-icon__icon">
            <use xlink:href="#icon-ellipsis"></use>
        </svg>
        <span class="visually-hidden">{{ 'Flag options'|t }}</span>
    </button>
    <div class="toggle-contents share-contents">
        {{ content.flag_pin|render }}
        {{ content.flag_topic_bar|render }}
    </div>
</div>