{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node',
  'story'
] %}

<article{{ attributes.addClass(classes) }}>
    <h3{{ title_attributes.addClass(title_classes, 'page-title', 'story__heading') }}>
      {% if logged_in %}
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      {% else %}
        {{ label }}
      {% endif %}
    </h3>
    <span class="story__category">
      {% if content.field_kicker.0 is not empty %}
        {{ content.field_kicker.0 }}
      {% else %}
        {{ 'News'|t }}
      {% endif %}
    </span>
</article>