{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node',
  'story',
  'story--full'
] %}

<article{{ attributes.addClass(classes) }}>
    <h3{{ title_attributes.addClass(title_classes, 'page-title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
    <div class="story__content">
        {{ content.field_body_content }}
    </div>
</article>