<div class="teaser">
    <h2 class="teaser__heading">
        <a href="{{ url }}" tabindex="0">{{ label }}</a>
    </h2>
    <span class="teaser__type">{{ node.gettype|replace({'story': 'news'}) }}</span>
    <div class="teaser__details">{{ content.field_state_of_play }}</div>
</div>