{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node',
  'story'
] %}

<article{{ attributes.addClass(classes) }}>
    <h3{{ title_attributes.addClass(title_classes, 'page-title story__heading') }}>
      {% if logged_in %}
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      {% else %}
        {{ label }}
      {% endif %}
    </h3>
    <span class="story__category">{{ content.field_heading.0 }}</span>
    <span class="story__sub-category">
      {% if content.field_source_name.0 %}
        <strong>{{ content.field_source_name.0 }}</strong>
      {% endif %}
      {% if content.field_scraping_timestamp.0 %}
        &middot; 
        <strong>{{ content.field_scraping_timestamp.0 }}</strong>
      {% endif %}
    </span>
</article>