{% set authors %}
  {{ content.field_author }}
{% endset %}
{% set source %}
  {{ content.field_news_source.0 }}
{% endset %}

<div class="teaser">
    <h2 class="teaser__heading">
        <a href="{{ url }}" tabindex="0">{{ label }}</a>
    </h2>
    <span class="teaser__type">{{ node.gettype|replace({'story': 'news'}) }}</span>
    <div class="teaser__details">
        {% if authors or source %}
          <div class="content__meta">
            {% if authors is not empty %}
              <strong>{{ authors|striptags|trim }}</strong>
            {% endif %}
            {% if authors|striptags|trim is not empty and source|striptags|trim is not empty %} <span aria-hidden="true">&middot;</span> {% endif %}
            {% if source is not empty %}
              <em>{{ source|striptags|trim }}</em>
            {% endif %}
          </div>
        {% endif %}
    </div> 
</div>