{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node',
  'view'
] %}

<article{{ attributes.addClass(classes) }}>
    <h3{{ title_attributes.addClass(title_classes, 'page-title', 'story__heading') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
    <small>{{ node.getCreatedTime()|format_date('month_day_year') }}</small>
    {% if content.field_summary.0 is not empty %}
      <div>{{ content.field_summary }}</div>
    {% endif %}
</article>