{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node',
  'story'
] %}

<article{{ attributes.addClass(classes) }}>
    <h3{{ title_attributes.addClass(title_classes, 'page-title story__heading') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
    <span class="story__category">
      {% if content.field_kicker.0 is not empty %}
        {{ content.field_kicker.0 }}
      {% else %}
        {{ 'News'|t }}
      {% endif %}
    </span>
    <span class="story__sub-category">
      {% if content.field_author_s_.0 %}
        <strong>{{ content.field_author_s_|render|striptags|trim }}</strong>
      {% endif %}
      {% if content.field_source.0 %}
        – 
        <strong>{{ content.field_source.0 }}</strong>
      {% endif %}
      {% if content.field_author_s_.0 or content.field_source.0 %}
        &middot; 
      {% endif %}
      <strong>{{ node.getCreatedTime()|format_date('month_day_year_with_time') }}</strong>
    </span>
</article>