{# Create classes array. The 'node' class is required for contextual edit links. #}
{% set classes = [
  'node'
] %}

{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}

<article{{ attributes.addClass(classes) }}>

  <div class="content-wrapper no-margin">
    <div class="page-content">
      <div class="page-type ts-h2">{{ content.field_heading.0 }}</div>
      <section class="section">

        <h1 class="page-title">{{ label }}</h1>

        {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
          <header>
            {% if not node.published %}
              <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
            {% endif %}
          </header>
        {% endif %}

        <div class="content__sub-meta">
          <div>
            {% if content.field_source_name.0 %}
              <strong>{{ content.field_source_name.0 }}</strong>
            {% endif %}
            {% if content.field_author.0 %}
              &middot; 
              <strong>{{ content.field_author.0 }}</strong>
            {% endif %}
            {% if content.field_scraping_date.0 %}
              &middot; {{'Last updated '|t }}<strong>{{ content.field_scraping_date.0 }}</strong></span>
            {% endif %}
          </div>
        </div>

        <div class="action-links">
          <button class="link--with-icon toggle-button">
            <svg class="link--with-icon__icon">
                <use xlink:href="#icon-share"></use>
            </svg>
            <span class="link--with-icon__text">{{ 'Share'|t }}</span>
          </button>
          <div class="toggle-contents share-contents">
            <a href="mailto:?subject=From briefing·center: {{ label|render|striptags|trim }}&body={{ label|render|striptags|trim }}%0D%0A%0D%0ARead%20this%20story%20on%20briefing%C2%B7center%3A%20{{ site.host }}/passthrough?url={{ content.field_source_link.0 }}" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-mail"></use>
                </svg>
                <span class="link--with-icon__text">{{ 'Email'|t }}</span>
            </a>

            <a href="https://twitter.com/intent/tweet?text={{ label|render|striptags|trim|url_encode }}&url={{ site.host ~ url }} via @briefing_center" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
                <span class="link--with-icon__text">{{ 'Twitter'|t }}</span>
            </a>

            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.host ~ url }}" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-facebook"></use>
                </svg>
                <span class="link--with-icon__text">{{ 'Facebook'|t }}</span>
            </a>

            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.host ~ url }}" class="link--with-icon">
                <svg class="link--with-icon__icon">
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
                <span class="link--with-icon__text">{{ 'LinkedIn'|t }}</span>
            </a>
          </div>

          {{ content.flag_save }}
        </div>

        <div{{ content_attributes.addClass('content') }}>
          <div class="content__story long long--always">
            {{ content.body }}
          </div>
        </div>
        {% if content.field_source_link %}
          <div class="region--space-md">
            <strong><a href="{{ content.field_source_link.0 }}" target="_blank">{{ 'View full article'|t }}</a></strong>
          </div>
        {% endif %}
      </section>
      {% if content.field_links.0 is not empty %}
        <div class="content__topics">
          <div class="topic topic--lg">
            <h2 class="topic__heading">
              <span class="topic__label">{{ 'Resources: '|t }}</span>
            </h2>
            <div class="topic__details">
              {{ content.field_links }}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="content__topics">
        {{ drupal_field('field_topics', 'node', node.id, {type: 'entity_reference_entity_view', label: 'hidden', settings: {view_mode: 'teaser_large'}}) }}
      </div>
    </div>

    {% if logged_in %}
      <div id="sidebar-first" class="column sidebar">
        <div class="section comments">
          <h2>{{ 'My notes'|t }}</h2>
          <div class="tan-section">
            <button class="button button--icon-only toggle-button">
              <svg class="button__icon">
                  <use xlink:href="#icon-plus"></use>
              </svg>
              <span class="visually-hidden">{{ 'Add note'|t }}</span>
            </button>
            <div class="toggle-contents">
              {{ new_news_note_form }}
            </div>
            {{ drupal_view('notes', 'personal_node_news') }}
          </div>
          <div id="sidebar-blocks">{{ drupal_region('sidebar_first') }}</div>
        </div>
      </div>
    {% endif %}

  </div>

</article><!-- /.node -->
