/* Colors */
$blue:         #26619B;
$lightblue:    #D8EAFA;
$medlightgray: #E3E8EE;
$lightgray:    #F3F5F8;
$darkgray:     #4A4A4A;
$text-color:     $darkgray;
$darkblue:     #1D548A;
$semilightblue:#52A4F0;
$tan:          #F7F4ED;
$brown:        #826275;

$gradient-blue: linear-gradient($darkblue, $semilightblue);
$messages-green:    #269b5f;
$messages-red:      #9b2628;
$messages-orange:   #dac4af;
$nearblack:         #212121;

$background-color:  #EFEFEF;

/* Sizes */
$gutter-sm: 15px;
$gutter: 30px;

$vert-space-sm: 20px;
$vert-space-md: 30px;

$third: 33.3333%;
$two-third: 66.6666%;

/* Text */
@font-face {
    font-family: "Avenir Next LT Pro";
    font-display: swap;
    font-weight: normal;
    src: url('../../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
         url('../../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}
@font-face {
    font-family: "Avenir Next LT Pro";
    font-display: swap;
    font-weight: 600;
    src: url('../../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
         url('../../fonts/AvenirNext-DemiBold.woff') format('woff');
}
@font-face {
    font-family: "Avenir Next LT Pro";
    font-display: swap;
    font-weight: 700;
    src: url('../../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
         url('../../fonts/AvenirNextLTPro-Bold.woff') format('woff');
}
@font-face {
    font-family: "Avenir Next LT Pro";
    font-display: swap;
    font-style: italic;
    src: url('../../fonts/AvenirNextLTPro-It.woff2') format('woff2'),
         url('../../fonts/AvenirNextLTPro-It.woff') format('woff');
}
  
$font-main: 'minion-pro-display', sans-serif; /* Weights: Use: Normal, Bold */
$font-secondary: 'Avenir Next LT Pro', sans-serif; /* Weights: Use: Normal, Semibold, Bold */
// $font-marketing: 'anton', sans-serif; /* Weights: Use: Normal (400) */
$font-marketing: $font-secondary;
$font-marketing-condensed: 'Avenir Next LT Pro', sans-serif; /* Weights: Use: Normal (400) */

$text-margin: 20px;

$ts-body: 1.8rem;
$text-lh: 1.8;
$text-lh-sm: 1.4;
$text-lh-xs: 1.2;

$ts-h1: 4.8rem;
$ts-h2: 3.4rem;
$ts-h3: 3.0rem;
$ts-h4: 2.5rem;
$ts-h5: 2.1rem;
$ts-h6: 1.8rem;
$ts--title: 2.0rem;
$ts--jump-menu: 2.4rem;
$ts--copyright: 1.5rem;
$ts-h1--xl: 7.8rem;

// Animation transition speeds and easings
$spd-a: 100ms; // instantaneous
$spd-b: 300ms; // fast
$spd-c: 400ms; // slow
$spd-d: 700ms; // deliberate

/* Breakpoints */
$max-width:   1300px;

$break-sm:    600px;
$break-md:    840px;
$break-lg:    980px;
$break-xxl:   1200px;
