<article class="story story--full">
    <h3 class="story__heading"><a href="#">The challenge to find the real news behind the headlines</a></h3>
    <a href="#" class="story__category">Morning View</a>
    <div class="story__content">
        <p>This morning is one of those times in which there are some hot headlines that, after reading the article, seem to be just hot air.</p>
        <p>There’s this top item on Politico’s website: “Wall Street’s latest panic: Trump could win.” The lead: “Wall Street is growing increasingly terrified that Donald Trump — once viewed as an amusing summertime distraction — could actually win the Republican nomination for president.”</p>
    </div>
</article>