{#
/**
 * @file
 * The default template file for e-mails.
 *
 * Available variables:
 * - subject: The subject.
 * - body: The message content.
 * - is_html: True if generating HTML output, false for plain text.
 * - message: The $message array created and used in the mail building
 *   procedure. Its content varies between cases, but typically contains at
 *   least the following elements:
 *   - id: The message identifier.
 *   - module: The module that handles the building of the message.
 *   - key: The key of the message.
 *   - to: The recipient email address.
 *   - from: The email address of the sender.
 *   - langcode: The langcode to use to compose the e-mail.
 *   - params: The message parameters.
 * - base_url: The site base url including scheme, without trailing slash.
 *
 * This template may be overriden by module and/or mail key, using any of the
 * following template names:
 * - swiftmailer.html.twig: global, used by default.
 * - swiftmailer--mymodule.html.twig: only emails sent by the module "mymodule".
 * - swiftmailer--mymodule--test.html.twig: only emails by the module
 *   "mymodule" with key "test".
 *
 * @see template_preprocess()
 * @see template_preprocess_swiftmailer()
 *
 * @ingroup themeable
 */
#}
{% if is_html %}
	<html>
		<head>
			<link rel="stylesheet" href="https://use.typekit.net/dmw4hyo.css">
			<style type="text/css">
				html {
					box-sizing: border-box;
				}
				*,
				*::after,
				*::before {
					box-sizing: inherit;
				}
				body {
					font-size: 18px;
					color: #4A4A4A;
					line-height: 1.8;
					font-family: "myriad-pro", sans-serif;
					background: #EFEFEF;
				}
				.header__wrapper {
					background-color: #1D548A;
					background: linear-gradient(#1D548A, #52A4F0);
					color: #fff;
					box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
				}

				.header {
					display: flex;
					padding-top: 20px;
					padding-bottom: 20px;
					align-items: center;
					background-color: #1D548A;
					background: linear-gradient(#1D548A, #52A4F0);
					position: relative;
					z-index: 2;
				}
				.header__main-wrapper {
					position: relative;
				}

				.header__logo {
					flex: 1 0 auto;
					line-height: 0;
					padding: 0 20px;
				}

				.header__logo img {
					width: 300px;
				}
				.email-content {
					padding: 20px;
				}
				.view-header a {
					color: #4A4A4A;
				}
				.story {
					display: flex;
					flex-direction: column;
					margin-bottom: 20px;
				}
				.page-title {
					margin-top: 0;
					line-height: 1;
				}
				.story__heading {
					font-size: 20px;
					font-weight: 600;
					order: 2;
					line-height: 1;
					margin-bottom: 10px;
				}
				.story__heading a {
					color: #4A4A4A;
				}
				.story__category {
					order: 1;
					font-weight: bold;
					color: #26619B;
					line-height: 1.4;
				}
				.story__content {
					order: 3;
				}
				.story__sub-category {
					order: 3;
					margin-top: -10px;
					color: #757575;
					font-size: 14px;
					font-weight: bold;
				}
			</style>
		</head>
		<body>
			<div>
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<div style="padding: 0px 0px 0px 0px;">
								<header id="header" class="header__wrapper" role="banner" aria-label="Site header">
									<div class="header__main-wrapper container gutter">
										<div class="header">
											<div class="header__logo">
												<a href="https://briefing.center">
													<img src="https://briefing.center/themes/policycenter/images/briefing-center.png" alt="briefing·center">
												</a>
											</div>
										</div>
									</div>
								</header>
								<div class="email-content">{{ body }}</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</body>
	</html>
{% else %}
	{{ body }}
{% endif %}
