/* 
 * Borrowed from skeleton.css v2.0.4 - https://github.com/dhg/Skeleton 
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  max-width: 100%;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.form-item {
  label {
    display: inline;
  }
}

.bef-links {
  &[name="field_heading_value"] {
    ul {
      display: flex;
      gap: 10px;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        &:not(:first-of-type) {
          &::before {
            content: '|';
            margin-right: 10px;
          }
        }
      }
    }

    .bef-link--selected {
      font-weight: 600;
    }
  }
}

// Note node sidebar form
.node-note-sidebar-form {
  .form-wrapper {
    margin-bottom: 20px;
  }

  // Hide WYSIWYG format editor.
  [id="edit-body-0-format"] {
    display: none;
  }

  // Hide vertical tabs (status, revision, etc.).
  .js-form-type-vertical-tabs {
    display: none;
  }

  // Restyle summary elements.
  summary {
    display: flex;
    gap: 5px;
    line-height: 1.4;
    cursor: pointer;
    margin-bottom: 10px;

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-plus' viewBox='0 0 79 79'%3E%3Ctitle%3Eplus%3C/title%3E%3Cpolygon fill='white' fill-rule='evenodd' stroke='transparent' stroke-linejoin='round' stroke-width='4' points='74.3 24.9 49.8 24.9 49.8 .5 25 .5 25 24.9 .5 24.9 .5 49.8 25 49.8 25 74.3 49.8 74.3 49.8 49.8 74.3 49.8' transform='translate(2 2)'%3E%3C/polygon%3E%3C/svg%3E");
      width: 16px;
      height: 16px;
      line-height: 0;
      background-color: $brown;
      border-radius: 50%;
      flex: 0 0 16px;
      padding: 4px;
      transition: $spd-a all ease-in-out;
    }

    &[aria-expanded="true"]::before {
      transform: rotate(45deg);
      transition: $spd-a all ease-in-out;
    }
  }
}