// Custom checkboxes

$cr-size: 22px;
$cr-border: 2px;
// makes space for the highlight around selected elements
$cr-space: 8px;

.check-list-radio {
	// padding: 0;
	// margin: 0;

	.check-list-radio {
		margin-left: 35px;
	}
}

.cr_item {
	position: relative;
	padding: 0;
	margin: 5px 0 0 (-$cr-space);
	list-style: none;
}

.cr_input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.cr_label {
	display: block;
	margin: 0;
	cursor: pointer;
	padding-top: ($cr-space + $cr-border);
	padding-right: $cr-space;
	padding-bottom: ($cr-space + $cr-border);
	// space for selected highlight + width of box/circle + the width of their borders + some space between text
	padding-left: ($cr-space + $cr-size + ($cr-border * 2) + 10px);
	border-radius: 10px;
	font-weight: 600;

	&:before, &:after {
		@include pseudo-absolute;
		@include centerer-y;
		left: $cr-space;
		width: $cr-size;
		height: $cr-size;
	}
  
	// Fill
	&:before {
		background: $blue;
		transform: translate(0, -50%) scale(0) rotate(120deg);
		transition: all $spd-a ease-in;
		z-index: 1;
	}

	// Border
	&:after {
		background: #fff;
		border: $cr-border solid $lightblue;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.2) inset;
		cursor: pointer;
		.check-list-radio--blue & {
			background: $blue;
		}
	}
}

.cr_label--radio {
	&:before,
	&:after {
		border-radius: 50%;
	}
}

.cr_input:checked + .cr_label {
	background: transparentize($lightblue, 0.8);
	.check-list-radio--blue & {
		background: transparentize($blue, 0.8);
	}
	&:before {
		transform: translate(0, -50%) scale(0.55) rotate(0deg);
	}
}

.cr_input:focus + .cr_label {
	outline: 2px solid $blue;
}

.check-list-radio .check-list-radio {
	.cr_input:checked + .cr_label {
		background: none;
	}
}