h1, .ts-h1 { font-size: $ts-h1; }
h2, .ts-h2 { font-size: $ts-h2; }
h3, .ts-h3 { font-size: $ts-h3; }
h4, .ts-h4 { font-size: $ts-h4; }
h5, .ts-h5 { font-size: $ts-h5; }
h6, .ts-h6 { font-size: $ts-h6; }

h1, h2, h3, h4, h5, h6,
.ts-h1, .ts-h2, .ts-h3, .ts-h4, .ts-h5, .ts-h6 {
  line-height: 1.2;
  color: $text-color;
  font-weight: bold;
  font-family: $font-secondary;
  a {
    text-decoration: none;
  }
}

h2 {
  margin: ($text-margin * 2) 0 $text-margin;
}

h3, h4, h5, h6 {
  margin: $text-margin 0;
}

.heading--underlined {
  color: $blue;
  border-bottom: 2px solid $blue;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-family: $font-secondary;
  font-weight: bold;
}