img, svg {
  max-width: 100%;
}

img {
  height: auto;
}

.image--captioned {
	position: relative;
	line-height: 0;
	display: inline-block;
	max-width: 100%;
	figcaption {
		position: absolute;
		bottom: 0;
		line-height: $text-lh-sm;
		padding: $gutter-sm;
		color: #fff;
		font-size: 1.4rem;
		@include bg-rgba($darkgray, 0.6);
		p:first-of-type {
			margin-top: 0;
		}
		p:last-of-type {
			margin-bottom: 0;
		}
	}
}