a {
  color: $blue;
  text-decoration: none;
  &:hover, &:focus {
  	/* color: $blue-dark; */
  	text-decoration: underline;
  }

  .content & {
    text-decoration: underline;

    &.no-underline {
      text-decoration: none;
    }
  }

  .story__heading & {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.icon-link {
  @include horizontal-group;
  img {
    margin-right: 10px;
  }
}

.skip-nav {
	@include visually-hidden;
	transform: translate(0,-40px);
	opacity: 0;
	/* transition: transform $transition-short, opacity $transition-short;*/
	width: 100%;
	left: 0;
	&:focus {
		color: #fff;
		transform: translate(0,0);
		opacity: 1;
    height: auto;
    top: -1px;
    display: block;
    overflow: auto;
    clip: auto;
    z-index: 50;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    font-weight: 700;
    outline: none;
    width: 100%;
    }
}

.link--with-icon {
  display: inline-block;
  font-weight: 600;
  font-size: 1.4rem;
  @include link-states {
    text-decoration: none;
    .link--with-icon__text {
      color: $blue;
      border-bottom-color: $blue;
    }
  }
  @include mq($break-lg) {
    & + .link--with-icon {
      margin-left: $gutter-sm;
    }
  }

  button:is(&) {
    border: none;
    background-color: transparent;
  }
}
.link--with-icon__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  overflow: hidden;

  .action-links & {
    fill: $blue;
  }
}
.link--with-icon__text {
  color: lighten($darkgray, 18);
  border: 2px solid transparent;
}